KLS/OTA/2010B/OTA_CommonTypes_Proxy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05/OTA2010B" targetNamespace="http://www.opentravel.org/OTA/2003/05/OTA2010B" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:element name="Errors" type="ErrorsType"/>
	<xs:element name="Warnings" type="WarningsType"/>
	<xs:element name="Success" type="SuccessType"/>
</xs:schema>
