LSSHybrid/AKPIP.PAP1LH1AW01_GETPUBKEY.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" 
	xmlns:wsa="http://www.w3.org/2005/08/addressing" 
	xmlns:pipa="http://PIP_Service_Library" 
	xmlns:ama_securityhosteduser="http://xml.amadeus.com/2010/06/Security_v1" 
	xmlns:session="http://xml.amadeus.com/2010/06/Session_v3" 
	xmlns:security_getpublickey_10_3="http://xml.amadeus.com/Security_GetPublicKey_10_3_1A" 
	xmlns:security_getpublickeyreply_10_3="http://xml.amadeus.com/Security_GetPublicKeyReply_10_3_1A" 
	targetNamespace="http://PIP_Service_Library">
<wsdl:types>
    <xsd:schema targetNamespace="http://PIP_Service_Library">
      <xsd:import namespace="http://xml.amadeus.com/Security_GetPublicKey_10_3_1A" schemaLocation="Security_GetPublicKey_10_3_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/Security_GetPublicKeyReply_10_3_1A" schemaLocation="Security_GetPublicKeyReply_10_3_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/2010/06/Security_v1" schemaLocation="AMA_SecurityHostedUser.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/2010/06/Session_v3" schemaLocation="AMA_WS_Session.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Security_GetPublicKey_10_3">
    <wsdl:part name="Security_GetPublicKey_10_3" element="security_getpublickey_10_3:Security_GetPublicKey"/>
  </wsdl:message>
  <wsdl:message name="Security_GetPublicKeyReply_10_3">
    <wsdl:part name="Security_GetPublicKeyReply_10_3" element="security_getpublickeyreply_10_3:Security_GetPublicKeyReply"/>
  </wsdl:message>
  <wsdl:message name="AMA_SecurityHostedUser">
    <wsdl:part name="AMA_SecurityHostedUser" element="ama_securityhosteduser:AMA_SecurityHostedUser"/>
  </wsdl:message>
  <wsdl:message name="Session">
    <wsdl:part name="Session" element="session:Session"/>
  </wsdl:message>
  <wsdl:portType name="PAP1ABPID02PT">
    <wsdl:operation name="Security_GetPublicKey">
      <wsdl:input message="pipa:Security_GetPublicKey_10_3"/>
      <wsdl:output message="pipa:Security_GetPublicKeyReply_10_3"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PAP1ABPID02Binding" type="pipa:PAP1ABPID02PT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Security_GetPublicKey">
      <soap:operation soapAction="http://pip.koreanair.com/Security_GetPublicKey_10_3"/>
      <wsdl:input>
        <soap:header message="pipa:AMA_SecurityHostedUser" part="AMA_SecurityHostedUser" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="pipa:AMA_SecurityHostedUser" part="AMA_SecurityHostedUser" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PAP1ABPID02Services">
    <wsdl:port name="PAP1ABPID02_GPKPort" binding="pipa:PAP1ABPID02Binding">
	    <soap:address location="http://localhost:8090/loopback"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>