LSSHybrid/ICD-XSD-Security_AuthenticateFromAmadeus_12_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/Security_AuthenticateFromAmadeus_12_1_1A" xmlns="http://xml.amadeus.com/Security_AuthenticateFromAmadeus_12_1_1A" elementFormDefault="qualified">
  <xs:element name="Security_AuthenticateFromAmadeus">
    <xs:annotation>
      <xs:documentation xml:lang="en">Delegate authentication for hybrid user</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userIdentifier" maxOccurs="2" type="UserIdentificationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment is dedicated to specify a user identifier. The first one  for the Login and the second for the UID or the sign if needed.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="dutyCode" minOccurs="0" type="ReferenceInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Contain the duty code of the user.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="systemDetails" type="SystemDetailsInfoType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment is used to specify the organization of the user.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="passwordInformation" minOccurs="0" maxOccurs="2" type="SecurityPasswordGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Contains the password information</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="fullLocationInfo" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Full location information.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="workstationPos" type="PlaceLocationIdentificationTypeU">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Stores the location of the workstation.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="locationInfo" minOccurs="0" type="TerminalLocationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Contains terminal and facility or worstation id.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="applicationId" minOccurs="0" type="ApplicationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Contains label and version of application.  Example: JFE-CM V34.6.8</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to specify application details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="versionNumber" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Item Version Number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="label" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">valid Application name  otherwise CM#6173 INVALID APPLICATION ID is returned.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to specify details on an application</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="applicationDetails" minOccurs="0" type="ApplicationIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application source of the authentication message.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BinaryDataType">
    <xs:annotation>
      <xs:documentation xml:lang="en">to carry binary data within an Edifact segment</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataLength" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length of data stored in DataElem 114Z</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dataType" minOccurs="0" type="AMA_EDICodesetType_Length1">
        <xs:annotation>
          <xs:documentation xml:lang="en">type of the data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="binaryData" type="AlphaNumericString_Length1To99999">
        <xs:annotation>
          <xs:documentation xml:lang="en">used to store binary data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="compressType" minOccurs="0" type="AlphaNumericString_Length1To30">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains the compression type used. Either ZLIB or NONE. If not present, should be considered as NONE</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EncryptionDetailsType">
    <xs:sequence>
      <xs:element name="algorithmType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of algorithm used to encrypt/hash the password.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timestamp" minOccurs="0" type="NumericInteger_Length1To50">
        <xs:annotation>
          <xs:documentation xml:lang="en">timestamp used for encryption.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encryptionToken" minOccurs="0" type="NumericInteger_Length1To1024">
        <xs:annotation>
          <xs:documentation xml:lang="en">token used for encryption. This token is correlated with the algorithm type value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="suplementaryEncryptionToken" minOccurs="0" type="NumericInteger_Length1To1024">
        <xs:annotation>
          <xs:documentation xml:lang="en">some algorithms needs 2 tokens for encryption (i.e. RSA : Modulus/Exposant). This data corresponds to the exposant in RSA algorithm case.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FacilityInformationType">
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Terminal/Building discriminator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" minOccurs="0" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location terminal.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationIdentificationBatchTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of a location by code or name</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airport or city code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inHouseIdentification1" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amadeus Office Id (Example: NCE6X0980).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PasswordDetailsType">
    <xs:sequence>
      <xs:element name="encryptionDetails" type="EncryptionDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Encryption details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lifetime" minOccurs="0" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">password life time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="passwordType" minOccurs="0" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">describes the password type : OTP, CUR, NEW</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceLocationIdentificationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a place or a location and/or related locations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location type. Airport/City Discriminator A for Airport C for City</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationDescription" type="LocationIdentificationBatchTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location port.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="firstLocationDetails" minOccurs="0" type="RelatedLocationOneIdentificationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location category.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="secondLocationDetails" minOccurs="0" type="RelatedLocationTwoIdentificationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location index.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification for a traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" type="ReferencingDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to specify the duty code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Duty Code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationOneIdentificationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification the first related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location category.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationTwoIdentificationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of second related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location index.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecurityPasswordGroupType">
    <xs:sequence>
      <xs:element name="passwordDetails" type="PasswordDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">encryption characteristics :   -algorthm used to encrypt / hash password. -Token used to encrypt/hash the password.  Password type to identify old, new  and one time passwords</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="password" type="BinaryDataType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemDetailsInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to specify a system</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="workstationId" minOccurs="0" type="AlphaNumericString_Length1To50">
        <xs:annotation>
          <xs:documentation xml:lang="en">Workstation Id.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deliveringSystem" type="SystemDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to specify the company the user belongs to.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="idQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code specifying the type/source of the product identification number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify by code or name and location the system that originates or delivers the message for a third party.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyId" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to specify the company the user belongs to.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminalLocationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey informations about functional and physical locations in a terminal</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="facilityDetails" type="FacilityInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Terminal/Building iformation.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to identify a user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originIdentification" minOccurs="0" type="OriginatorIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Originator Identification Details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorTypeCode" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to specify which kind of info is given: L for Long UID (Alias) U for User ID Z for Sign</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originator" type="AlphaNumericString_Length1To99">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to transport the user information (Login/UID/Sign)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To99">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..99</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="99" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To50">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..50</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To99999">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..99999</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="99999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To30">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..30</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To50">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..50</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,50}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1024">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..1024</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1024}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is one alphanumeric character.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!--DRAFT: This document is under development and is not approved for 
publication or reference. The Amadeus IT Group SA assumes no 
responsibility for the application of the information contained 
in this document or consequences arising from its application.-->
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 4.3.5 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000008D53C96EDB3010BDF32B885C7A282CCB4E53B4067850E2A5056227B59D9E0208B438B68952A4CAA102AB41FEBD4359CE724A2EC470869CE5BD37B3C962B2CCD693717EB310C37430EC0D06BD61CAD735A0920D4FBF8D2E86A3F3AF7C365F7F4ED3519AB26C9E85A6029C6A03569620C8915F4AD4C53ABA93032AB691080B8A61250B10FB10AA51BF7F284D224BA9A0C6A470659F157B28FEACE82CA508BE065638050801857536DECA122CDDBA585949DBC4ACC2D6C690A36ABCDEED8338CB8E59F9AD7795D710A46FB8B48A5F39BBD58A726869F84FBB75BE94413B3BE2B59575D83BAFFF81E23542FB5C692C8CC3DA03C7E075114CC3E9CF462BCA91708227E53D7E2A86894C30DE8DE1CBD807F22575EF1F4025674CC156D626CC7C155151622B0D0253AEDE1858C1DF1A6C01B73214FB2E02F6F24398817D79F3187978CA1F1FC0234D4596070394862CB9A30ACD13DB124BCBDA8068AD96AFF65BB4DEF96A5C214D07B6713BA5BD188FEEF3B57306EF8FB45DD6DA28F0FC4B729E5CDC5FBB1D3DB4BBB68A5637D634AC04BF836EC6D69E6A300A57CE876754681EA4A21946A8DEFAC644A6369D20ECDBC93F3042E5B40D0B0847A45B1D79E7C2ABFF0CDB412244181720EDA783CE8753E733A3296327C148AE2E00C7240DAA482A3B8283A5F42166BBB3BAD0A1E946085E5A34ADE00819411062BFCBBCCEE6FD47054653F39214F1945094C5A6D4EB7D20F6AF4E4B70CC499E16A47603B52DD8014DB8A9435587A98B5488E860ACD79B1F01FC845CBF08BFD7634768C42063AFEA8BABBB55BE82A2F6D43EA9B494DA8AEBD5EA47B3F15A313854C4572E311F4F6662BDBC9B9CF8E1D28314DFD3D35DFC1E5FCFB25FAC229D6BDC3F53DC512306643DE8C817992D40B2C5529C8AE719ED65DCD84206987A5776EBC64E8CBDFFB21384180CD97F16B90FFBDF040000
-->

