KLS/AKPIP.PAP1AWKLS01.COMDCS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:pipa="http://xml.amadeus.com" xmlns:pip="http://PIP_Service_Library/PIP_Processing" xmlns:pips="http://PIP_Service_Library/PIP_Session" xmlns:pipe="http://PIP_Service_Library/PIP_Error" xmlns:ws="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:command_cryptic_7_3="http://xml.amadeus.com/HSFREQ_07_3_1A" xmlns:command_crypticreply_7_3="http://xml.amadeus.com/HSFRES_07_3_1A" xmlns:dcslst_getcheckinsummaryfigures_11_6="http://xml.amadeus.com/ACSFRQ_11_6_1A" xmlns:dcslst_getcheckinsummaryfiguresreply_11_6="http://xml.amadeus.com/ACSFRR_11_6_1A" targetNamespace="http://xml.amadeus.com">
<wsdl:types>
    <xsd:schema targetNamespace="http://xml.amadeus.com">
      <xsd:import namespace="http://xml.amadeus.com/HSFREQ_07_3_1A" schemaLocation="Command_Cryptic_07_3_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/HSFRES_07_3_1A" schemaLocation="Command_CrypticReply_07_3_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/ACSFRQ_11_6_1A" schemaLocation="DCSLST_GetCheckInSummaryFigures_11_6_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/ACSFRR_11_6_1A" schemaLocation="DCSLST_GetCheckInSummaryFiguresReply_11_6_1A.xsd"/>
      <xsd:import namespace="http://PIP_Service_Library/PIP_Processing" schemaLocation="ProcessingFlow-1.1.xsd"/>
      <xsd:import namespace="http://PIP_Service_Library/PIP_Session" schemaLocation="Session-1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Command_Cryptic_7_3">
    <wsdl:part name="Command_Cryptic_7_3" element="command_cryptic_7_3:Command_Cryptic"/>
  </wsdl:message>
  <wsdl:message name="Command_CrypticReply_7_3">
    <wsdl:part name="Command_CrypticReply_7_3" element="command_crypticreply_7_3:Command_CrypticReply"/>
  </wsdl:message>
  <wsdl:message name="DCSLST_GetCheckInSummaryFigures_11_6">
    <wsdl:part name="DCSLST_GetCheckInSummaryFigures_11_6" element="dcslst_getcheckinsummaryfigures_11_6:DCSLST_GetCheckInSummaryFigures"/>
  </wsdl:message>
  <wsdl:message name="DCSLST_GetCheckInSummaryFiguresReply_11_6">
    <wsdl:part name="DCSLST_GetCheckInSummaryFiguresReply_11_6" element="dcslst_getcheckinsummaryfiguresreply_11_6:DCSLST_GetCheckInSummaryFiguresReply"/>
  </wsdl:message>
  <wsdl:message name="ProcessingFlow" xmlns="http://PIP_Service_Library/PIP_Processing">
    <wsdl:part name="ProcessingFlow" element="pip:ProcessingFlow"/>
  </wsdl:message>
  <wsdl:message name="Session" xmlns="http://PIP_Service_Library/PIP_Session">
    <wsdl:part name="Session" element="pips:Session"/>
  </wsdl:message>
  <wsdl:portType name="PAP1AWKLS01PT">
    <wsdl:operation name="Command_Cryptic">
      <wsdl:input message="pipa:Command_Cryptic_7_3"/>
      <wsdl:output message="pipa:Command_CrypticReply_7_3"/>
    </wsdl:operation>
    <wsdl:operation name="DCSLST_GetCheckInSummaryFigures">
      <wsdl:input message="pipa:DCSLST_GetCheckInSummaryFigures_11_6"/>
      <wsdl:output message="pipa:DCSLST_GetCheckInSummaryFiguresReply_11_6"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PAP1AWKLS01Binding" type="pipa:PAP1AWKLS01PT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Command_Cryptic">
      <soap:operation soapAction="http://pip.koreanair.com/Command_Cryptic_07_3"/>
      <wsdl:input>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DCSLST_GetCheckInSummaryFigures">
      <soap:operation soapAction="http://pip.koreanair.com/DCSLST_GetCheckInSummaryFigures_11_6"/>
      <wsdl:input>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PAP1AWKLS01Services">
    <wsdl:port name="PAP1AWKLS01_COMDCSPort" binding="pipa:PAP1AWKLS01Binding">
	    <soap:address location="http://PIPESB:9080/PSPSOAPHPSRBY02/sca/V1_01"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>