KLS/AKPIP.PAP1AWKLS01.APP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PAP1AWKLS01" targetNamespace="http://xml.amadeus.com" xmlns:docmanagementdelivery_v3="http://xml.amadeus.com/2010/06/DocManagementDelivery_v3" xmlns:ama_2010_06_ConnectionServices_v1="http://xml.amadeus.com/2010/06/ConnectionServices_v1" xmlns:pipa="http://xml.amadeus.com" xmlns:pip="http://PIP_Service_Library/PIP_Processing" xmlns:pips="http://PIP_Service_Library/PIP_Session" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://xml.amadeus.com">
      <xsd:import namespace="http://xml.amadeus.com/2010/06/DocManagementDelivery_v3" schemaLocation="AMA/2012F/AMA_AppMdw_FormatAndDeliverRS.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/2010/06/DocManagementDelivery_v3" schemaLocation="AMA/2012F/AMA_AppMdw_FormatAndDeliverRQ.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/2010/06/DocManagementDelivery_v3" schemaLocation="AMA/2012F/AMA_AppMdw_ResolveTargetRQ.xsd" />
      <xsd:import namespace="http://xml.amadeus.com/2010/06/DocManagementDelivery_v3" schemaLocation="AMA/2012F/AMA_AppMdw_ResolveTargetRS.xsd" />
	  <xsd:import namespace="http://xml.amadeus.com/2010/06/DocManagementDelivery_v3" schemaLocation="AMA/2012F/AMA_AppMdw_UpdatePrintContextRQ.xsd" />
      <xsd:import namespace="http://xml.amadeus.com/2010/06/DocManagementDelivery_v3" schemaLocation="AMA/2012F/AMA_AppMdw_UpdatePrintContextRS.xsd" />
      <xsd:import namespace="http://PIP_Service_Library/PIP_Processing" schemaLocation="ProcessingFlow-1.1.xsd"/>
      <xsd:import namespace="http://PIP_Service_Library/PIP_Session" schemaLocation="Session-1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AMA_AppMdw_FormatAndDeliverRQ">
    <wsdl:part element="docmanagementdelivery_v3:AMA_AppMdw_FormatAndDeliverRQ" name="AMA_AppMdw_FormatAndDeliverRQ"/>
  </wsdl:message>
  <wsdl:message name="AMA_AppMdw_FormatAndDeliverRS">
    <wsdl:part element="docmanagementdelivery_v3:AMA_AppMdw_FormatAndDeliverRS" name="AMA_AppMdw_FormatAndDeliverRS"/>
  </wsdl:message>
  <wsdl:message name="AMA_AppMdw_ResolveTargetRQ">
    <wsdl:part name="AMA_AppMdw_ResolveTargetRQ" element="docmanagementdelivery_v3:AMA_AppMdw_ResolveTargetRQ" />
  </wsdl:message>
  <wsdl:message name="AMA_AppMdw_ResolveTargetRS">
    <wsdl:part name="AMA_AppMdw_ResolveTargetRS" element="docmanagementdelivery_v3:AMA_AppMdw_ResolveTargetRS" />
  </wsdl:message>
  <wsdl:message name="AMA_AppMdw_UpdatePrintContextRQ">
    <wsdl:part name="AMA_AppMdw_UpdatePrintContextRQ" element="docmanagementdelivery_v3:AMA_AppMdw_UpdatePrintContextRQ" />
  </wsdl:message>
  <wsdl:message name="AMA_AppMdw_UpdatePrintContextRS">
    <wsdl:part name="AMA_AppMdw_UpdatePrintContextRS" element="docmanagementdelivery_v3:AMA_AppMdw_UpdatePrintContextRS" />
  </wsdl:message>
  <wsdl:message name="ProcessingFlow" xmlns="http://PIP_Service_Library/PIP_Processing">
    <wsdl:part name="ProcessingFlow" element="pip:ProcessingFlow"/>
  </wsdl:message>
  <wsdl:message name="Session" xmlns="http://PIP_Service_Library/PIP_Session">
    <wsdl:part name="Session" element="pips:Session"/>
  </wsdl:message>
  <wsdl:portType name="PAP1AWKLS01PT">
    <wsdl:operation name="AppMdw_FormatAndDeliver">
      <wsdl:input message="pipa:AMA_AppMdw_FormatAndDeliverRQ" name="AMA_AppMdw_FormatAndDeliverRQ"/>
      <wsdl:output message="pipa:AMA_AppMdw_FormatAndDeliverRS" name="AMA_AppMdw_FormatAndDeliverRS"/>
    </wsdl:operation>
    <wsdl:operation name="AppMdw_ResolveTarget">
      <wsdl:input message="pipa:AMA_AppMdw_ResolveTargetRQ" name="AMA_AppMdw_ResolveTargetRQ"/>
      <wsdl:output message="pipa:AMA_AppMdw_ResolveTargetRS" name="AMA_AppMdw_ResolveTargetRS"/>
    </wsdl:operation>
    <wsdl:operation name="AppMdw_UpdatePrintContext">
      <wsdl:input message="pipa:AMA_AppMdw_UpdatePrintContextRQ" name="AMA_AppMdw_UpdatePrintContextRQ"/>
      <wsdl:output message="pipa:AMA_AppMdw_UpdatePrintContextRS" name="AMA_AppMdw_UpdatePrintContextRS"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PAP1AWKLS01Binding" type="pipa:PAP1AWKLS01PT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AppMdw_FormatAndDeliver">
      <soap:operation soapAction="http://pip.koreanair.com/AppMdw_FormatAndDeliver_13.0"/>
      <wsdl:input name="AMA_AppMdw_FormatAndDeliverRQ">
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body parts="AMA_AppMdw_FormatAndDeliverRQ" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AMA_AppMdw_FormatAndDeliverRS">
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body parts="AMA_AppMdw_FormatAndDeliverRS" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppMdw_ResolveTarget">
      <soap:operation soapAction="http://pip.koreanair.com/AppMdw_ResolveTarget_1.1"/>
      <wsdl:input name="AMA_AppMdw_ResolveTargetRQ">
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body parts="AMA_AppMdw_ResolveTargetRQ" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AMA_AppMdw_ResolveTargetRS">
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body parts="AMA_AppMdw_ResolveTargetRS" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppMdw_UpdatePrintContext">
      <soap:operation soapAction="http://pip.koreanair.com/AppMdw_UpdatePrintContext_1.1"/>
      <wsdl:input name="AMA_AppMdw_UpdatePrintContextRQ">
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body parts="AMA_AppMdw_UpdatePrintContextRQ" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AMA_AppMdw_UpdatePrintContextRS">
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body parts="AMA_AppMdw_UpdatePrintContextRS" use="literal"/>
      </wsdl:output>
    </wsdl:operation>	
  </wsdl:binding>
  <wsdl:service name="PAP1AWKLS01Services">
    <wsdl:port name="PAP1AWKLS01_APPPort" binding="pipa:PAP1AWKLS01Binding">
	    <soap:address location="http://PIPESB:9080/PSPSOAPHPSRBY02/sca/V1_01"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>