KLS/AKPIP.PAP1AWKLS01.TICKET_D.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:pipa="http://xml.amadeus.com" xmlns:pip="http://PIP_Service_Library/PIP_Processing" xmlns:pips="http://PIP_Service_Library/PIP_Session" xmlns:pipe="http://PIP_Service_Library/PIP_Error" xmlns:ws="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:ticket_displaytst_13_1="http://xml.amadeus.com/TTSTRQ_13_1_1A" xmlns:ticket_displaytstreply_13_1="http://xml.amadeus.com/TTSTRR_13_1_1A" xmlns:ticket_displaytsmp_13_1="http://xml.amadeus.com/TTSMRQ_13_1_1A" xmlns:ticket_displaytsmpreply_13_1="http://xml.amadeus.com/TTSMRR_13_1_1A" xmlns:ticket_displaytsmfareelement_13_1="http://xml.amadeus.com/TFRERQ_13_1_1A" xmlns:ticket_displaytsmfareelementreply_13_1="http://xml.amadeus.com/TFRERR_13_1_1A" xmlns:ticket_deletetsmp_8_1="http://xml.amadeus.com/TTSMDQ_08_1_1A" xmlns:ticket_deletetsmpreply_8_1="http://xml.amadeus.com/TTSMDR_08_1_1A" xmlns:ticket_deletetst_4_1="http://xml.amadeus.com/TTSTDQ_04_1_1A" xmlns:ticket_deletetstreply_4_1="http://xml.amadeus.com/TTSTDR_04_1_1A" targetNamespace="http://xml.amadeus.com">  
  <wsdl:types>
    <xsd:schema targetNamespace="http://xml.amadeus.com">
      <xsd:import namespace="http://xml.amadeus.com/TTSTRQ_13_1_1A" schemaLocation="Ticket_DisplayTST_13_1_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/TTSTRR_13_1_1A" schemaLocation="Ticket_DisplayTSTReply_13_1_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/TTSMRQ_13_1_1A" schemaLocation="Ticket_DisplayTSMP_13_1_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/TTSMRR_13_1_1A" schemaLocation="Ticket_DisplayTSMPReply_13_1_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/TFRERQ_13_1_1A" schemaLocation="Ticket_DisplayTSMFareElement_13_1_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/TFRERR_13_1_1A" schemaLocation="Ticket_DisplayTSMFareElementReply_13_1_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/TTSMDQ_08_1_1A" schemaLocation="Ticket_DeleteTSMP_08_1_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/TTSMDR_08_1_1A" schemaLocation="Ticket_DeleteTSMPReply_08_1_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/TTSTDQ_04_1_1A" schemaLocation="Ticket_DeleteTST_04_1_1A.xsd"/>
      <xsd:import namespace="http://xml.amadeus.com/TTSTDR_04_1_1A" schemaLocation="Ticket_DeleteTSTReply_04_1_1A.xsd"/>      
      <xsd:import namespace="http://PIP_Service_Library/PIP_Processing" schemaLocation="ProcessingFlow-1.1.xsd"/>
      <xsd:import namespace="http://PIP_Service_Library/PIP_Session" schemaLocation="Session-1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Ticket_DisplayTST_13_1">
    <wsdl:part name="Ticket_DisplayTST_13_1" element="ticket_displaytst_13_1:Ticket_DisplayTST"/>
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTSTReply_13_1">
    <wsdl:part name="Ticket_DisplayTSTReply_13_1" element="ticket_displaytstreply_13_1:Ticket_DisplayTSTReply"/>
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTSMP_13_1">
    <wsdl:part name="Ticket_DisplayTSMP_13_1" element="ticket_displaytsmp_13_1:Ticket_DisplayTSMP"/>
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTSMPReply_13_1">
    <wsdl:part name="Ticket_DisplayTSMPReply_13_1" element="ticket_displaytsmpreply_13_1:Ticket_DisplayTSMPReply"/>
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTSMFareElement_13_1">
    <wsdl:part name="Ticket_DisplayTSMFareElement_13_1" element="ticket_displaytsmfareelement_13_1:Ticket_DisplayTSMFareElement"/>
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTSMFareElementReply_13_1">
    <wsdl:part name="Ticket_DisplayTSMFareElementReply_13_1" element="ticket_displaytsmfareelementreply_13_1:Ticket_DisplayTSMFareElementReply"/>
  </wsdl:message>
  <wsdl:message name="Ticket_DeleteTSMP_8_1">
    <wsdl:part name="Ticket_DeleteTSMP_8_1" element="ticket_deletetsmp_8_1:Ticket_DeleteTSMP"/>
  </wsdl:message>
  <wsdl:message name="Ticket_DeleteTSMPReply_8_1">
    <wsdl:part name="Ticket_DeleteTSMPReply_8_1" element="ticket_deletetsmpreply_8_1:Ticket_DeleteTSMPReply"/>
  </wsdl:message>
  <wsdl:message name="Ticket_DeleteTST_4_1">
    <wsdl:part name="Ticket_DeleteTST_4_1" element="ticket_deletetst_4_1:Ticket_DeleteTST"/>
  </wsdl:message>
  <wsdl:message name="Ticket_DeleteTSTReply_4_1">
    <wsdl:part name="Ticket_DeleteTSTReply_4_1" element="ticket_deletetstreply_4_1:Ticket_DeleteTSTReply"/>
  </wsdl:message>  
  <wsdl:message name="ProcessingFlow" xmlns="http://PIP_Service_Library/PIP_Processing">
    <wsdl:part name="ProcessingFlow" element="pip:ProcessingFlow"/>
  </wsdl:message>
  <wsdl:message name="Session" xmlns="http://PIP_Service_Library/PIP_Session">
    <wsdl:part name="Session" element="pips:Session"/>
  </wsdl:message>
  <wsdl:portType name="PAP1AWKLS01PT">
    <wsdl:operation name="Ticket_DisplayTST">
      <wsdl:input message="pipa:Ticket_DisplayTST_13_1"/>
      <wsdl:output message="pipa:Ticket_DisplayTSTReply_13_1"/>
    </wsdl:operation>
    <wsdl:operation name="Ticket_DisplayTSMP">
      <wsdl:input message="pipa:Ticket_DisplayTSMP_13_1"/>
      <wsdl:output message="pipa:Ticket_DisplayTSMPReply_13_1"/>
    </wsdl:operation>
    <wsdl:operation name="Ticket_DisplayTSMFareElement">
      <wsdl:input message="pipa:Ticket_DisplayTSMFareElement_13_1"/>
      <wsdl:output message="pipa:Ticket_DisplayTSMFareElementReply_13_1"/>
    </wsdl:operation>
    <wsdl:operation name="Ticket_DeleteTSMP">
      <wsdl:input message="pipa:Ticket_DeleteTSMP_8_1"/>
      <wsdl:output message="pipa:Ticket_DeleteTSMPReply_8_1"/>
    </wsdl:operation>
    <wsdl:operation name="Ticket_DeleteTST">
      <wsdl:input message="pipa:Ticket_DeleteTST_4_1"/>
      <wsdl:output message="pipa:Ticket_DeleteTSTReply_4_1"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PAP1AWKLS01Binding" type="pipa:PAP1AWKLS01PT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Ticket_DisplayTST">
      <soap:operation soapAction="http://pip.koreanair.com/Ticket_DisplayTST_13_1"/>
      <wsdl:input>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ticket_DisplayTSMP">
      <soap:operation soapAction="http://pip.koreanair.com/Ticket_DisplayTSMP_13_1"/>
      <wsdl:input>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ticket_DisplayTSMFareElement">
      <soap:operation soapAction="http://pip.koreanair.com/Ticket_DisplayTSMFareElement_13_1"/>
      <wsdl:input>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ticket_DeleteTSMP">
      <soap:operation soapAction="http://pip.koreanair.com/Ticket_DeleteTSMP_08_1"/>
      <wsdl:input>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ticket_DeleteTST">
      <soap:operation soapAction="http://pip.koreanair.com/Ticket_DeleteTST_04_1"/>
      <wsdl:input>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PAP1AWKLS01Services">
    <wsdl:port name="PAP1AWKLS01_TICKET_DPort" binding="pipa:PAP1AWKLS01Binding">
      <soap:address location="http://PIPESB:9080/PSPSOAPHPSRBY02/sca/V1_01"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
