KLS/AKPIP.PAP1AWKLS01.PNR_STU.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:pipa="http://xml.amadeus.com" xmlns:pip="http://PIP_Service_Library/PIP_Processing"
	xmlns:pips="http://PIP_Service_Library/PIP_Session" xmlns:pipe="http://PIP_Service_Library/PIP_Error"
	xmlns:ws="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:pnr_reply_13_2="http://xml.amadeus.com/PNRACC_13_2_1A"
	xmlns:pnr_upgraderedemption_13_1="http://xml.amadeus.com/FFUREQ_13_1_1A"
	xmlns:pnr_upgraderedemptionreply_13_1="http://xml.amadeus.com/FFURES_13_1_1A"
	xmlns:pnr_updatereservationnumber_11_1="http://xml.amadeus.com/PRSNUQ_11_1_1A"
	xmlns:pnr_updatereservationnumberreply_11_1="http://xml.amadeus.com/PRSNUR_11_1_1A"
	xmlns:pnr_split_13_2="http://xml.amadeus.com/PNRSPL_13_2_1A"
	xmlns:pnr_searchbyfrequentflyer_9_1="http://xml.amadeus.com/PAFFSQ_09_1_1A"
	xmlns:pnr_searchbyfrequentflyerreply_9_1="http://xml.amadeus.com/PAFFSR_09_1_1A"
	xmlns:pnr_searchbyticket_9_1="http://xml.amadeus.com/PATNSQ_09_1_1A"
	xmlns:pnr_searchbyticketreply_9_1="http://xml.amadeus.com/PATNSR_09_1_1A"
	xmlns:pnr_searchbyflightdatename_12_1="http://xml.amadeus.com/PAFNSQ_12_1_1A"
	xmlns:pnr_searchbyflightdatenamereply_12_1="http://xml.amadeus.com/PAFNSR_12_1_1A"
	xmlns:pnr_transferownership_4_1="http://xml.amadeus.com/POWNUQ_04_1_1A"
	xmlns:pnr_transferownershipreply_4_1="http://xml.amadeus.com/POWNUR_04_1_1A"
	targetNamespace="http://xml.amadeus.com">
	<wsdl:types>
		<xsd:schema targetNamespace="http://xml.amadeus.com">
			<xsd:import namespace="http://xml.amadeus.com/PNRACC_13_2_1A"
				schemaLocation="PNR_Reply_13_2_1A.xsd" />
			<xsd:import namespace="http://xml.amadeus.com/FFUREQ_13_1_1A"
				schemaLocation="PNR_UpgradeRedemption_13_1_1A.xsd" />
			<xsd:import namespace="http://xml.amadeus.com/FFURES_13_1_1A"
				schemaLocation="PNR_UpgradeRedemptionReply_13_1_1A.xsd" />
			<xsd:import namespace="http://xml.amadeus.com/PRSNUQ_11_1_1A"
				schemaLocation="PNR_UpdateReservationNumber_11_1_1A.xsd" />
			<xsd:import namespace="http://xml.amadeus.com/PRSNUR_11_1_1A"
				schemaLocation="PNR_UpdateReservationNumberReply_11_1_1A.xsd" />
			<xsd:import namespace="http://xml.amadeus.com/PNRSPL_13_2_1A"
				schemaLocation="PNR_Split_13_2_1A.xsd" />
			<xsd:import schemaLocation="PNR_SearchByFrequentFlyer_09_1_1A.xsd"
				namespace="http://xml.amadeus.com/PAFFSQ_09_1_1A" />
			<xsd:import schemaLocation="PNR_SearchByFrequentFlyerReply_09_1_1A.xsd"
				namespace="http://xml.amadeus.com/PAFFSR_09_1_1A" />
			<xsd:import schemaLocation="PNR_SearchByTicket_09_1_1A.xsd"
				namespace="http://xml.amadeus.com/PATNSQ_09_1_1A" />
			<xsd:import schemaLocation="PNR_SearchByTicketReply_09_1_1A.xsd"
				namespace="http://xml.amadeus.com/PATNSR_09_1_1A" />
			<xsd:import namespace="http://xml.amadeus.com/PAFNSQ_12_1_1A"
				schemaLocation="PNR_SearchbyFlightDateName_12_1_1A.xsd" />
			<xsd:import namespace="http://xml.amadeus.com/PAFNSR_12_1_1A"
				schemaLocation="PNR_SearchbyFlightDateNameReply_12_1_1A.xsd" />
			<xsd:import namespace="http://xml.amadeus.com/POWNUQ_04_1_1A"
				schemaLocation="PNR_TransferOwnership_04_1_1A.xsd" />
			<xsd:import namespace="http://xml.amadeus.com/POWNUR_04_1_1A"
				schemaLocation="PNR_TransferOwnershipReply_04_1_1A.xsd" />
			<xsd:import namespace="http://PIP_Service_Library/PIP_Processing"
				schemaLocation="ProcessingFlow-1.1.xsd" />
			<xsd:import namespace="http://PIP_Service_Library/PIP_Session"
				schemaLocation="Session-1.0.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="PNR_UpgradeRedemption_13_1">
		<wsdl:part name="PNR_UpgradeRedemption_13_1"
			element="pnr_upgraderedemption_13_1:PNR_UpgradeRedemption" />
	</wsdl:message>
	<wsdl:message name="PNR_UpgradeRedemptionReply_13_1">
		<wsdl:part name="PNR_UpgradeRedemptionReply_13_1"
			element="pnr_upgraderedemptionreply_13_1:PNR_UpgradeRedemptionReply" />
	</wsdl:message>
	<wsdl:message name="PNR_UpdateReservationNumber_11_1">
		<wsdl:part name="PNR_UpdateReservationNumber_11_1"
			element="pnr_updatereservationnumber_11_1:PNR_UpdateReservationNumber" />
	</wsdl:message>
	<wsdl:message name="PNR_UpdateReservationNumberReply_11_1">
		<wsdl:part name="PNR_UpdateReservationNumberReply_11_1"
			element="pnr_updatereservationnumberreply_11_1:PNR_UpdateReservationNumberReply" />
	</wsdl:message>
	<wsdl:message name="PNR_Split_13_2">
		<wsdl:part name="PNR_Split_13_2" element="pnr_split_13_2:PNR_Split" />
	</wsdl:message>
	<wsdl:message name="PNR_Reply_13_2">
		<wsdl:part name="PNR_Reply_13_2" element="pnr_reply_13_2:PNR_Reply" />
	</wsdl:message>
	<wsdl:message name="PNR_SearchByFrequentFlyer_9_1">
		<wsdl:part element="pnr_searchbyfrequentflyer_9_1:PNR_SearchByFrequentFlyer"
			name="PNR_SearchByFrequentFlyer_9_1" />
	</wsdl:message>
	<wsdl:message name="PNR_SearchByFrequentFlyerReply_9_1">
		<wsdl:part
			element="pnr_searchbyfrequentflyerreply_9_1:PNR_SearchByFrequentFlyerReply"
			name="PNR_SearchByFrequentFlyerReply_9_1" />
	</wsdl:message>
	<wsdl:message name="PNR_SearchByTicket_9_1">
		<wsdl:part element="pnr_searchbyticket_9_1:PNR_SearchByTicket"
			name="PNR_SearchByTicket_9_1" />
	</wsdl:message>
	<wsdl:message name="PNR_SearchByTicketReply_9_1">
		<wsdl:part element="pnr_searchbyticketreply_9_1:PNR_SearchByTicketReply"
			name="PNR_SearchByTicketReply_9_1" />
	</wsdl:message>
	<wsdl:message name="PNR_SearchbyFlightDateName_12_1">
		<wsdl:part
			element="pnr_searchbyflightdatename_12_1:PNR_SearchbyFlightDateName"
			name="PNR_SearchbyFlightDateName_12_1" />
	</wsdl:message>
	<wsdl:message name="PNR_SearchbyFlightDateNameReply_12_1">
		<wsdl:part
			element="pnr_searchbyflightdatenamereply_12_1:PNR_SearchbyFlightDateNameReply"
			name="PNR_SearchbyFlightDateNameReply_12_1" />
	</wsdl:message>
	<wsdl:message name="PNR_TransferOwnership_4_1">
		<wsdl:part name="PNR_TransferOwnership_4_1"
			element="pnr_transferownership_4_1:PNR_TransferOwnership" />
	</wsdl:message>
	<wsdl:message name="PNR_TransferOwnershipReply_4_1">
		<wsdl:part name="PNR_TransferOwnershipReply_4_1"
			element="pnr_transferownershipreply_4_1:PNR_TransferOwnershipReply" />
	</wsdl:message>
	<wsdl:message name="ProcessingFlow"
		xmlns="http://PIP_Service_Library/PIP_Processing">
		<wsdl:part name="ProcessingFlow" element="pip:ProcessingFlow" />
	</wsdl:message>
	<wsdl:message name="Session"
		xmlns="http://PIP_Service_Library/PIP_Session">
		<wsdl:part name="Session" element="pips:Session" />
	</wsdl:message>
	<wsdl:portType name="PAP1AWKLS01PT">
		<wsdl:operation name="PNR_UpgradeRedemption">
			<wsdl:input message="pipa:PNR_UpgradeRedemption_13_1" />
			<wsdl:output message="pipa:PNR_UpgradeRedemptionReply_13_1" />
		</wsdl:operation>
		<wsdl:operation name="PNR_UpdateReservationNumber">
			<wsdl:input message="pipa:PNR_UpdateReservationNumber_11_1" />
			<wsdl:output message="pipa:PNR_UpdateReservationNumberReply_11_1" />
		</wsdl:operation>
		<wsdl:operation name="PNR_Split">
			<wsdl:input message="pipa:PNR_Split_13_2" />
			<wsdl:output message="pipa:PNR_Reply_13_2" />
		</wsdl:operation>
		<wsdl:operation name="PNR_SearchByFrequentFlyer">
			<wsdl:input message="pipa:PNR_SearchByFrequentFlyer_9_1" />
			<wsdl:output message="pipa:PNR_SearchByFrequentFlyerReply_9_1" />
		</wsdl:operation>
		<wsdl:operation name="PNR_SearchByTicket">
			<wsdl:input message="pipa:PNR_SearchByTicket_9_1" />
			<wsdl:output message="pipa:PNR_SearchByTicketReply_9_1" />
		</wsdl:operation>
		<wsdl:operation name="PNR_SearchbyFlightDateName">
			<wsdl:input message="pipa:PNR_SearchbyFlightDateName_12_1" />
			<wsdl:output message="pipa:PNR_SearchbyFlightDateNameReply_12_1" />
		</wsdl:operation>
		<wsdl:operation name="PNR_TransferOwnership">
			<wsdl:input message="pipa:PNR_TransferOwnership_4_1" />
			<wsdl:output message="pipa:PNR_TransferOwnershipReply_4_1" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PAP1AWKLS01Binding" type="pipa:PAP1AWKLS01PT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PNR_UpgradeRedemption">
			<soap:operation soapAction="http://pip.koreanair.com/PNR_UpgradeRedemption_13_1" />
			<wsdl:input>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PNR_UpdateReservationNumber">
			<soap:operation
				soapAction="http://pip.koreanair.com/PNR_UpdateReservationNumber_11_1" />
			<wsdl:input>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PNR_Split">
			<soap:operation soapAction="http://pip.koreanair.com/PNR_Split_13_2" />
			<wsdl:input>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PNR_SearchByFrequentFlyer">
			<soap:operation
				soapAction="http://pip.koreanair.com/PNR_SearchByFrequentFlyer_09_1" />
			<wsdl:input>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PNR_SearchByTicket">
			<soap:operation soapAction="http://pip.koreanair.com/PNR_SearchByTicket_09_1" />
			<wsdl:input>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PNR_SearchbyFlightDateName">
			<soap:operation
				soapAction="http://pip.koreanair.com/PNR_SearchbyFlightDateName_12_1" />
			<wsdl:input>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PNR_TransferOwnership">
			<soap:operation soapAction="http://pip.koreanair.com/PNR_TransferOwnership_04_1" />
			<wsdl:input>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="pipa:ProcessingFlow" part="ProcessingFlow"
					use="literal" />
				<soap:header message="pipa:Session" part="Session" use="literal" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PAP1AWKLS01Services">
		<wsdl:port name="PAP1AWKLS01_PNR_STUPort" binding="pipa:PAP1AWKLS01Binding">
			<soap:address location="http://PIPESB:9080/PSPSOAPHPSRBY02/sca/V1_01" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>