KLS/AKPIP.PAP1AWKLS01.Tkt.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:pipa="http://xml.amadeus.com" xmlns:pip="http://PIP_Service_Library/PIP_Processing" xmlns:pips="http://PIP_Service_Library/PIP_Session" xmlns:pipe="http://PIP_Service_Library/PIP_Error" xmlns:ws="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:tktproration_retrievebaseamount_9_1="http://xml.amadeus.com/TPRBRQ_09_1_1A" xmlns:tktproration_retrievebaseamountreply_9_1="http://xml.amadeus.com/TPRBRR_09_1_1A" xmlns:tktproration_retrieveproratedamount_9_1="http://xml.amadeus.com/TPRPRQ_09_1_1A" xmlns:tktproration_retrieveproratedamountreply_9_1="http://xml.amadeus.com/TPRPRR_09_1_1A" targetNamespace="http://xml.amadeus.com">  
  <wsdl:types>
    <xsd:schema targetNamespace="http://xml.amadeus.com">
      <xsd:import schemaLocation="TktProration_RetrieveBaseAmount_09_1_1A.xsd" namespace="http://xml.amadeus.com/TPRBRQ_09_1_1A" />
      <xsd:import schemaLocation="TktProration_RetrieveBaseAmountReply_09_1_1A.xsd" namespace="http://xml.amadeus.com/TPRBRR_09_1_1A" />
      <xsd:import schemaLocation="TktProration_RetrieveProratedAmount_09_1_1A.xsd" namespace="http://xml.amadeus.com/TPRPRQ_09_1_1A" />
      <xsd:import schemaLocation="TktProration_RetrieveProratedAmountReply_09_1_1A.xsd" namespace="http://xml.amadeus.com/TPRPRR_09_1_1A" />
      <xsd:import namespace="http://PIP_Service_Library/PIP_Processing" schemaLocation="ProcessingFlow-1.1.xsd"/>
      <xsd:import namespace="http://PIP_Service_Library/PIP_Session" schemaLocation="Session-1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TktProration_RetrieveBaseAmount_9_1">
    <wsdl:part element="tktproration_retrievebaseamount_9_1:TktProration_RetrieveBaseAmount" name="TktProration_RetrieveBaseAmount_9_1" />
  </wsdl:message>
  <wsdl:message name="TktProration_RetrieveBaseAmountReply_9_1">
    <wsdl:part element="tktproration_retrievebaseamountreply_9_1:TktProration_RetrieveBaseAmountReply" name="TktProration_RetrieveBaseAmountReply_9_1" />
  </wsdl:message>
  <wsdl:message name="TktProration_RetrieveProratedAmount_9_1">
    <wsdl:part element="tktproration_retrieveproratedamount_9_1:TktProration_RetrieveProratedAmount" name="TktProration_RetrieveProratedAmount_9_1" />
  </wsdl:message>
  <wsdl:message name="TktProration_RetrieveProratedAmountReply_9_1">
    <wsdl:part element="tktproration_retrieveproratedamountreply_9_1:TktProration_RetrieveProratedAmountReply" name="TktProration_RetrieveProratedAmountReply_9_1" />
  </wsdl:message>
  <wsdl:message name="ProcessingFlow" xmlns="http://PIP_Service_Library/PIP_Processing">
    <wsdl:part name="ProcessingFlow" element="pip:ProcessingFlow"/>
  </wsdl:message>
  <wsdl:message name="Session" xmlns="http://PIP_Service_Library/PIP_Session">
    <wsdl:part name="Session" element="pips:Session"/>
  </wsdl:message>
  <wsdl:portType name="PAP1AWKLS01PT">
    <wsdl:operation name="TktProration_RetrieveBaseAmount">
      <wsdl:input message="pipa:TktProration_RetrieveBaseAmount_9_1" />
      <wsdl:output message="pipa:TktProration_RetrieveBaseAmountReply_9_1" />
    </wsdl:operation>
    <wsdl:operation name="TktProration_RetrieveProratedAmount">
      <wsdl:input message="pipa:TktProration_RetrieveProratedAmount_9_1" />
      <wsdl:output message="pipa:TktProration_RetrieveProratedAmountReply_9_1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PAP1AWKLS01Binding" type="pipa:PAP1AWKLS01PT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TktProration_RetrieveBaseAmount">
      <soap:operation soapAction="http://pip.koreanair.com/TktProration_RetrieveBaseAmount_09_1" />
      <wsdl:input>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TktProration_RetrieveProratedAmount">
      <soap:operation soapAction="http://pip.koreanair.com/TktProration_RetrieveProratedAmount_09_1" />
      <wsdl:input>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PAP1AWKLS01Services">
    <wsdl:port name="PAP1AWKLS01_TktPort" binding="pipa:PAP1AWKLS01Binding">
      <soap:address location="http://PIPESB:9080/PSPSOAPHPSRBY02/sca/V1_01"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
