KLS/AKPIP.PAP1AWKLS01.KEEPALIVE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PAP1AWKLS01" targetNamespace="http://xml.amadeus.com" xmlns:docmanagementdelivery_v3="http://xml.amadeus.com/2010/06/DocManagementDelivery_v3" xmlns:ama_2010_06_ConnectionServices_v1="http://xml.amadeus.com/2010/06/ConnectionServices_v1" xmlns:pipa="http://xml.amadeus.com" xmlns:pip="http://PIP_Service_Library/PIP_Processing" xmlns:pips="http://PIP_Service_Library/PIP_Session" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://xml.amadeus.com">
      <xsd:import namespace="http://xml.amadeus.com/2010/06/ConnectionServices_v1" schemaLocation="AMA/2013D/AMA_AppMdw_KeepAliveRQ.xsd" />
      <xsd:import namespace="http://xml.amadeus.com/2010/06/ConnectionServices_v1" schemaLocation="AMA/2013D/AMA_AppMdw_KeepAliveRS.xsd" />
      <xsd:import namespace="http://PIP_Service_Library/PIP_Processing" schemaLocation="ProcessingFlow-1.1.xsd"/>
      <xsd:import namespace="http://PIP_Service_Library/PIP_Session" schemaLocation="Session-1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AMA_AppMdw_KeepAliveRQ">
    <wsdl:part name="AMA_AppMdw_KeepAliveRQ" element="ama_2010_06_ConnectionServices_v1:AMA_AppMdw_KeepAliveRQ" />
  </wsdl:message>
  <wsdl:message name="AMA_AppMdw_KeepAliveRS">
    <wsdl:part name="AMA_AppMdw_KeepAliveRS" element="ama_2010_06_ConnectionServices_v1:AMA_AppMdw_KeepAliveRS" />
  </wsdl:message>
  <wsdl:message name="ProcessingFlow" xmlns="http://PIP_Service_Library/PIP_Processing">
    <wsdl:part name="ProcessingFlow" element="pip:ProcessingFlow"/>
  </wsdl:message>
  <wsdl:message name="Session" xmlns="http://PIP_Service_Library/PIP_Session">
    <wsdl:part name="Session" element="pips:Session"/>
  </wsdl:message>
  <wsdl:portType name="PAP1AWKLS01PT">
    <wsdl:operation name="AppMdw_KeepAlive">
      <wsdl:input message="pipa:AMA_AppMdw_KeepAliveRQ" name="AMA_AppMdw_KeepAliveRQ"/>
      <wsdl:output message="pipa:AMA_AppMdw_KeepAliveRS" name="AMA_AppMdw_KeepAliveRS"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PAP1AWKLS01Binding" type="pipa:PAP1AWKLS01PT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AppMdw_KeepAlive">
      <soap:operation soapAction="http://pip.koreanair.com/AppMdw_KeepAlive_1.0"/>
      <wsdl:input name="AMA_AppMdw_KeepAliveRQ">
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body parts="AMA_AppMdw_KeepAliveRQ" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AMA_AppMdw_KeepAliveRS">
        <soap:header message="pipa:ProcessingFlow" part="ProcessingFlow" use="literal"/>
        <soap:header message="pipa:Session" part="Session" use="literal"/>
        <soap:body parts="AMA_AppMdw_KeepAliveRS" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PAP1AWKLS01Services">
    <wsdl:port name="PAP1AWKLS01_KEEPALIVEPort" binding="pipa:PAP1AWKLS01Binding">
	    <soap:address location="http://PIPESB:9080/PSPSOAPHPSRBY02/sca/V1_01"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>