KLS/DCSLST_GetCheckInSummaryFigures_11_6_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/ACSFRQ_11_6_1A" xmlns="http://xml.amadeus.com/ACSFRQ_11_6_1A" elementFormDefault="qualified">
  <xs:element name="DCSLST_GetCheckInSummaryFigures">
    <xs:annotation>
      <xs:documentation xml:lang="en">Queries the DCS Server to retrieve passenger figures related to check in depending on the criteria contained in the message.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="legInfo" type="FlightDetailsResponseType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This information is used to determine which LEG is relevant for the processing of the use case: - Operating Carrier - Operating Flight Suffix - Operating Flight Number - Standard Departure Date - Boardpoint</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="allianceSelection" minOccurs="0" maxOccurs="2" type="SelectionDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">To specify for Oncarriage/Incarriage Summaries: - Alliance Filter: 9750 = AN 9749 = Alliance Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="codeshareCarrier" minOccurs="0" type="TransportIdentifierType">
          <xs:annotation>
            <xs:documentation xml:lang="en">specifies the codeshare carrier for which the request is being done.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="listIndicator" minOccurs="0" type="StatusType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Indicators for the check in summary list.  True if the summary list figures are to be calculated for each codeshare partner. 1245=BRK</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCompany" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This is used to convey a marketing carrier code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlightDetailsResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To designate a flight for a given date in a reply.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="carrierDetails" type="OutboundCarrierDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Provide information on the airline of the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightDetails" type="OutboundFlightNumberDetailstypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference of the flight for the airline</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureDate" type="Date_YYYYMMDD">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardPoint" type="AlphaString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Board point</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutboundCarrierDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the airline company and an associated airline company.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCarrier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Marketing carrier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutboundFlightNumberDetailstypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the flight number and operational suffix of the outbound flight.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight suffix</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated              information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Option code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="optionInformation" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Option information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" maxOccurs="99" type="SelectionDetailsInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Selection details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Dummy.NET" minOccurs="0" maxOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">List of status/qualifiers</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="action" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Action</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To advise the requester system the status of the reply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusInformation" type="StatusDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">STATUS DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">companyIdentification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_YYYYMMDD">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: YYYYMMDD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009594C16EDB300C86EF7A0A61971D863876B0F5104007374EB2014DDB2529760910A816930895254F948B7A45DF7D94EDACDDA9DB25A0289994BEFF6796F3EBF93ADFCE8BFDCDB598A4D964944E46D917FE03940554B2E5D9C5F47336FD9CF2E56AFB294DA769CAF2551EDA1A70A10D585981A0C4FE52A22EB7319D3CA162F712E19AF6B09625885308F5743C7EAA4C222BA9A0C1A474D598DD37561928B417638410B43DE258E912597982F26143BF9514C137C04AA7808EA0B0CEC6555581A5D5B057D5D2B6B19DB08D3194A85BAF8FA7203EE47D3B7EEB5DED3504E95B2EADE233670F5A510D2D0DFF660FCE57326867A7BCB1B20927E7F52F50BC41E88E2B8DA571D878E018BC2E8369397D73AF15D54838914BF9889F9B6122138C6B63F83ADE03F99A6EEF1F41251F9882836C4C58FA3AE252E2200D0253AEB937B0819F0DD8126E65284FC30ED8CB7F8209F6F5CC7314E865FFFC081EE9551479304065289247EAD0BEB003C9B76E0C317351C96EDDC9D97D1CA3770A18574A332037EEA848C662BAFB3ACF8BDD5CE9832CC3D63983BBF9765F680CD286192945FA9172BB95F40F1015EFCF60A735EEAEDC916AD9637711AD6EAC695905FE08038C2E5E68300A37CE873FF8E8E148F7CA3132FD3B5790EADA0CCEB1FF85A876DA866B08BD1C9DD9BC73E10DA16E1D0D9CB0FE099128C6514AC76936E470E17C6E34D51E1C1BBDA04BC0829C44BDC9943D45ACA40FB1EE9DD5A50EEDF090E0A545D3F993F808628DE3A1F2365F8D9F15184DCF9064A097847659BC9E7A3B3E6496D97966FA9A94E9507593AC6DC99ED0849B26D44D5838A3C08B98606C345AF5183F22D7AF73321AB11E92C872F6A6BFC86FF37D31DB5C6DB6FB6C9291AD2BA9ADA00C83A79A14DB4BDC17F3A5D8AEEFE66785B8F420453649CF0991CF368BF57756D34C683C91CA3DFB5E207141D1A38EAA89AC87233B8E6268BC84308B7F20DFECA6A90869BBD0471A5D6467D9DE3D3898426419FB0D474C2D3123050000
-->

