KLS/DocIssuance_IssueCombinedReply_09_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TCTMIR_09_2_1A" xmlns="http://xml.amadeus.com/TCTMIR_09_2_1A" elementFormDefault="qualified">
  <xs:element name="DocIssuance_IssueCombinedReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Reply to a TCTMIQ (TTP/TTM) request message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="processingStatus" type="ResponseAnalysisDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">The type of the answer : warning, aknowledgement, PNR display...</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="errorGroup" minOccurs="0" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Contains warning and errors.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">textSubjectQualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">source</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">encoding</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">warning/error message details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseAnalysisDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of query and the processing status associated with this response.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusCode" type="AlphaString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">type of the answer</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095544D6FDB300CBDEB5708BDEC30C471BAF6B0003AB875DA155BDA22756F0102456212A1B2E4897251AFE87F1F65BB6B7718B65D0292A2F9F1DE632E17D78B55512DCACDCDB538CE679F26F9F1E4F8942FBDD3B2E3B393793E9B9FCEF8E5B2FA98E7F33C67C5B2885D0378612C385983A0C0E64CA251550A674FA8D956225CD31B36528138C4D8CCA7D3A7DA66B2961A5ACC94AFA76CDB3A6DA134414C1162346E8F536D14327500F57047BFB51431B4C094D74029289C77C9AB6B70E48D6F75235D97DA09D75A4B81A60B667F88E2A818DAF1DBE09B6020CAD071E9343FF76E6734D530D2F22BB7F3A196D17837E7AD936D3CF8607E80E62D429FAE0D2AEBB10DC03106A3A2ED387DB3359A6A649C60CBF984BF36C34C66987C6BF92ACD817C45D38747D0D911D3B093AD8D97A1497069B193168169DF6E2DDCC1F7169C825B19D5617C0177F64F60827BCB794E04BD6C9E1F21206D4556000B54862CB9A70EDD0BDB117DABD612663E31D9FB3D9DFDC7C9FA4B01EB95B423E4D6EF35D158CED75F1645B95E68B3932A56DE5B5C2FAA4D69304A17CF8929E28F985B2F657880C4F890833DD7B8FEE6F754CBEDFB418CBE71B66335843D8C60F4F68501ABF1CE87F80B3E5A1C69AE0213A6BFC74A62DDD85139EEBF206ABC71F11AE240472FB6E07D7C8750EF2701676C5821218AE98EF2693E1B6378E143610DD51E159BB4601460494AA2DE24CA0145AC6588A9EEBD33CAC46E5C2406E9D0F6FA247C04618DD3B172552CA7CF1AACA1352409E825A35796C6D3EFCF87C472FE7A33434D8AF450F5976C9C624F68E34D1B9B365E78AB218814606C32590E307E406EDEEE64326103486256B077FD45715B6C4AAFAE105B4942DE7C3E51A4ED5A1A27AAAF1583A78668DB48DC948B4B51ADEE17AF347119408A19FDBF8C01519D57CBAB156BE8300C1E88EA81808125714CD6A349D489D98090ECC114EFBB270368F3AD71A0D92B6B7F4E594143821B2521F2CFEC27C9A34EF81E050000
-->

