KLS/Office_DisplayReply_13_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/OIDRSP_13_1_1A" xmlns="http://xml.amadeus.com/OIDRSP_13_1_1A" elementFormDefault="qualified">
  <xs:element name="Office_DisplayReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Response of OIDREQ request</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestType" type="MessageActionDetailsType" />
        <xs:element name="oidIdentification" type="OfficeProfileIdentificationType" />
        <xs:element name="fieldStructure" minOccurs="0" maxOccurs="999">
          <xs:annotation>
            <xs:documentation xml:lang="en">Field structure</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fieldDetails" type="OfficeProfileFieldDetailsType" />
              <xs:element name="fieldValue" minOccurs="0" type="OfficeProfileYesNoFieldValueType" />
              <xs:element name="fieldFreeTextValue" minOccurs="0" maxOccurs="40" type="OfficeProfileFreeTextFieldValueType" />
              <xs:element name="fieldOfficeAmidValue" minOccurs="0" type="OfficeAmidFieldValueType" />
              <xs:element name="fieldListValue" minOccurs="0" type="OfficeProfileListFieldValueType" />
              <xs:element name="fieldOOHValue" minOccurs="0" maxOccurs="7" type="OfficeOpeningHoursType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MessageActionDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the message type and business function.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageFunctionDetails" type="MessageFunctionBusinessDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageFunctionBusinessDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate the type and function of a message or part of a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageFunction" type="AlphaNumericString_Length1To3" />
      <xs:element name="responsibleAgency" type="AlphaNumericString_Length1To3" />
      <xs:element name="additionalMessageFunction" minOccurs="0" maxOccurs="20" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfficeAmidFieldValueType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Office and amid field value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="singleValueOfficeAmid" minOccurs="0" type="ProductDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">OFFICE NAME AND ASSOCIATED AMID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfficeOpeningHoursType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To detail the opening hours of each day of the week.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="weekDay" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day of the week</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="indicatorOpenClosed" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Open/Closed Indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="openTimeRange" minOccurs="0" maxOccurs="2" type="OpenTimeRangeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfficeProfileFieldDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to specify the Office Profile indicator displayed.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="oidField" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">FIELD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="oidSection" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">SUBSECTION THE FIELD BELONGS TO</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pvmAllowed" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">PVM AUTHORISED?</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfficeProfileFreeTextFieldValueType">
    <xs:annotation>
      <xs:documentation xml:lang="en">free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="valueFreeTextField" minOccurs="0" type="AlphaNumericString_Length1To64">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free Text Value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfficeProfileIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the Amadeus Office Profile</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inHouseIdentification" type="AlphaNumericString_Length9To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Inhouse identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nsOfficeId" minOccurs="0" type="AlphaNumericString_Length1To14">
        <xs:annotation>
          <xs:documentation xml:lang="en">NS OFFICE ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="activeIndicator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates if the Office is active or not.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amidHeader" minOccurs="0" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used for Amid of Header Line</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyIdentification" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline Code associated to NS Office Id</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfficeProfileListFieldValueType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Office Profile List Field Value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="valueFreeText" minOccurs="0" maxOccurs="260" type="AlphaNumericString_Length1To30">
        <xs:annotation>
          <xs:documentation xml:lang="en">FREE FLOW TEXT</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="valueOfficeAmid" minOccurs="0" maxOccurs="20" type="ProductDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">OFFICE NAME + AMID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfficeProfileYesNoFieldValueType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Yes or No</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="valueYesNo" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Yes or No</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OpenTimeRangeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">OPEN TIME RANGE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rangeBeginning" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Beginning of the Range</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rangeEnd" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">End of range</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDetailsTypeI">
    <xs:sequence>
      <xs:element name="inHouseIdentification" type="AlphaNumericString_Length9To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">IN-HOUSE IDENTIFICATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="officeAmid" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">AMID OF OFFICE</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length9To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="9" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To14">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..14</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="14" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To64">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..64</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To30">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..30</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H. All digits are mandatory . Example: from 0000 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BBEC30C4715A141B02E8E0C64E5660698A24BD0508548B4984CA9227CA45BDA2FF7D94EDACDD2EDB00C32029891FEF3D2E8ADB629D6D8B7CBFBA1517E9E4723449E9E3DB53E351C996A79FA75797D38B942F96DB4F693A4D53962DB3D0D680736DC0CA0A0405F6D71275B98DE1E419157B9008B77486B52C419C42A8A7E3F17365125949050D26A5ABC6ECA1B1CA40AEBD182384A0ED11C74A97C8CA13948F1BFA575204DF002B9D02BA82C23A1BBDAA024BDE7056D5D2B6B19CB08D3114A85BAF8FA7203E647D397EE75DED3504E95B2EADE233670F5A510E2D0DBFB107E72B19B4B353DE58D98493F3FA0728DE2074D795C6D2386C3C700C5E97C1B49CDE3C684539124EC0A57CC4CFC530910946DF18BE8E7D205F53F7FE0954F2812938C8C68485AF235C4A1CA44160CA350F0636F0BD015BC29D0CE56938017BFD4F60827DBBF312097ADDBF3C81479A8A2C0F06280D59F24815DA577620FAD68D21CC5C64B2F33B3ABBC7D1FA4B02E34A6906C88D3B2AA2319FEEBE1659BE2B943EC8326C9D33B82BB6FB5C639036CC8829E28F98DB2DA57F84C8787F073BAE71F7CD1D29973D768D68B5B2A66515F8230C6074F65C8351B8713EFC828F0647EA2BC388E9EFB19C58D766508EFD2F886AA76DB885D0D3D189CD3B17DE21D4F951C009EB47888862DCA4749C4E8618CE9DCF8CA6DC8362A3167409989392A83689B247112BE943CC7B6F75A9433B0C12BCB4683A7D123E82B0C6F190799B2DC72F0A8CA6312409E835A15316DB53EFD787C4323BEF4C9F93221D54DD266B5BB2673461D584BA097367147811038C8D46CB1EC68FC8F5DB9E8C46AC07494C32F6AEBEC8EEB2FDEA70A0E9F693CB2B927525B5159B62C6E0B926C6F612F779B110DBF57D7166884B0F524CBE9C7DB1BAC9D79B3B56D34A683C11C93DF43D3F6242D6938EA491D961233B18C55097C4561BD9B233497FC4D75093A806DAC5E492FD04567AC64404050000
-->

