KLS/PNR_ListReservationNumberReply_11_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PRSNRR_11_1_1A" xmlns="http://xml.amadeus.com/PRSNRR_11_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_ListReservationNumberReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">List of reservation numbers response</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errors" minOccurs="0" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">contains the errors and warnings associated to the transaction</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="listReservationNumbers" minOccurs="0" maxOccurs="10">
          <xs:annotation>
            <xs:documentation xml:lang="en">this group contains the list of reservation numbers</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="recordLocator" type="ReservationControlInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">to specify the record locator of the PNR impacted, and the reservation number</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="status" type="StatusType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">contains the information on the reservation number's availability</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">text subject qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">source</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">encoding</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">details of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">for the PNR record locator: 1A for the reservation number: provider code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">this is the place to store the identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlType" minOccurs="0" type="AMA_EDICodesetType_Length1">
        <xs:annotation>
          <xs:documentation xml:lang="en">if "N" is filled, it indicates that the number is a reservation number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" minOccurs="0" maxOccurs="2" type="ReservationControlInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">this segment is used to store the reservation number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="isAvailableaction" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">this field is set to "yes" if the reservation number is available and set to "no" if the reservation number is not available</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To advise the requester system the status of the reply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusInformation" maxOccurs="99" type="StatusDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">STATUS DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is one alphanumeric character.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BBEC30C471D20D2802E8E0366937A0490327BD0530148B4984CA9227CA45BDA2FF7D94EDACDD61D87631488AE6C77B8FB78BD522CFB68B7971BF12D374321DA597A374CAB7A7C6A3922D4F2F67D38BD9C525BF5D6E3FA5E92C4D59B6CC425B03DE680356562028505C49D4E536869367546C2F1156F486B52C419C42A867E3F17365125949050D26A5ABC66CDF586560AEBD182384A0ED11C74A97C8CA13948F1BFA565204DF002B9D024A41619D8D5E5581256F78AB6A69DBD84ED8C6180AD4ADD7C753101FB2BE1D5F7B577B0D41FA964BABF8B5B307ADA88696867FB307E72B19B4B333DE58D98493F3FA0728DE2074E94A63691C361E3806AFCB605A4EFFECB5A21A0927E0523EE2E76698C804A36F0CCFE31CC8739ADE3F814A3E300507D99870EBEB0897120769109872CDDEC006BE37604B58CB509E8617B057FF0426D8B79C9748D06BF1F2041E692BB23C18A03264C92375685FD981E8CB1B4398B9C864E77774763F47EB2F058C2BA5192037EEA888C6F96CF77591CD770BA50FB20C5BE70CEE16DB62AE31481BAE8929E28F98DB2DA57F84C8789F831DD7B8BB7347AA658FDD205ADD5BD3B20AFC1106303AFB468351B8713EFC828F16479A2BC388E9EFB139B1AECDA01CFB5F10D54EDBB082D0D3D189CD3B17DE21D4F951C009EB57888862BCA4749C4E8618DE389F194DB507C5462DE812704E4AA2DE24CA1E45ACA40FB1EE83D5A50EEDB048F0D2A2E9F449F808C21AC743E56DB61CBF28309AD69024A0D7845E591C4FBD3F1F12CBF5F966FA9A14E9A0EA2E59DB923DA309F74DA89B70E38C022F6280B1D168D9C3F811B97EBB93D188F5208949C6DEF517D93A2BD6ABBC984C3F93A62BA9AD2097C1734D7415128BF9E2566CF387C5991E2E3D4831F972F6C53ADFACF29CD5740F1A4FC4708F7B4F8E9890F5A423636476C0C80EC3D8A5B82399F597D60DB96AAA3D787626EBCF2939D4A4B341096232613F01989E3C2617050000
-->

