KLS/PNR_UpdateReservationNumber_11_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PRSNUQ_11_1_1A" xmlns="http://xml.amadeus.com/PRSNUQ_11_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_UpdateReservationNumber">
    <xs:annotation>
      <xs:documentation xml:lang="en">update reservation number</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="generationType" type="StatusType">
          <xs:annotation>
            <xs:documentation xml:lang="en">used to specify the type of generation wished for the reservation number: - random - based on the AP - chosen</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="recordLocator" minOccurs="0" type="ReservationControlInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">to specify the reference of the PNR impacted (if there it has already been end transacted)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReservationControlInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">for the PNR record locator: 1A for the reservation number: provider code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">this is the place to store the identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlType" minOccurs="0" type="AMA_EDICodesetType_Length1">
        <xs:annotation>
          <xs:documentation xml:lang="en">if "N" is filled, it indicates that the number is a reservation number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" minOccurs="0" maxOccurs="2" type="ReservationControlInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">this segment is used to store the reservation number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="action" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This field is used to specify the generation type for the reservation number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To advise the requester system the status of the reply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusInformation" type="StatusDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">STATUS DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is one alphanumeric character.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BBEC30C471D20D2802E8E03669366049B324BD0530148B4984CA9227CA45BCA2FF7D94EDACDD651F1783A4687EBCF7389F2D67EB6C3B9BE6F74B314E47E3417A3D48C77C7BAA3D2AD9F0F47A32BE9A5C5DF3F962FB214D2769CAB245169A0AF04E1BB0B2044181FC46A22EB6319C9C51B1BD4458D21B56B200710AA19A0C87E7D224B2940A6A4C0A570ED9BEB6CAC0547B31440841DB230E952E901527281E37F42DA508BE065638059482C23A1BBDB2044B5EFF5656D236B19DB0B53114A81AAF8FA720DE655D3BBEF2AEF21A82F40D9756F15B670F5A510D2D0DFF620FCE9732686727BCB6B20E27E7F50F50BC4668D395C6C238AC3D700C5E17C1349CFED96B4535124EC0A57CC02FCD30910946DF18BE8E73205FD3F4FE0954F28E2938C8DA84B9AF225C4A1CA44160CAD57B031BF85E832D60254371EA5FC0DEFC1398605F739E23412FF9F31378A4ADC8F26080CA90258FD4A1796107A26F5D1BC2CC45265BBFA5B3FD395A7F29605C214D0FB9714745344E27BBCFB36CBA9B297D9045D83A677037DBE6538D41DA704B4C117FC4DC6E21FD2344C6BB1C6CB9C6DD5777A45AF6D80EA2D5BD350D2BC11FA107A3B5EF3418851BE7C32FF86871A4B9328C98FE1E9B12EBDAF4CAB1FF0551E5B40D4B081D1DADD8BC73E10D42AD1F059CB06E858828C64B4A87E9A88FE19DF399D154BB576CD4822E00A7A424EA4DA2EC50C452FA10EB3E585DE8D0F48B042F2D9A569F848F20AC71D857DE668BE1B302A3690D49027A49E895C5F1D4DBF321B1DC5E6EA6AB499116AAF692B52DD8194DB8AF4355873B67147811038C0D068B0EC6F7C8F5EB9D0C06AC03498C32F6A6BFC85659BE5AAEF3D1F82369BA94DA0A72199C2BA22B97984F6773B15D3FCC2EF470E9418AD1A78B2F56EBCDF2E11BABE81E349E88E10EF78E1C3122EB4947C6C86C81912D86B14BFE502919A0BBB576CC655DEEC1B30B5D7F4CEA85204623F6133DF4B2F216050000
-->

