KLS/PNR_SearchByFrequentFlyerReply_09_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PAFFSR_09_1_1A" xmlns="http://xml.amadeus.com/PAFFSR_09_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_SearchByFrequentFlyerReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorHandler" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorOrWarningCodeDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorCode">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="5" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCategory" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCodeOwner" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorWarningDescription" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="freeTextDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="textSubjectQualifier">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="informationType" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="status" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="companyId" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="language" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="source">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="encoding">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="freeText" maxOccurs="99">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="199" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="scrollingDetails" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lastItemsDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="numberOfItems" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="lastItemIdentifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pnrViews" minOccurs="0" maxOccurs="300">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pnrNumber">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="itemNumberDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="number" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="pnrView">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="amadeusId">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="reservation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="controlNumber">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an6</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="6" />
                                      <xs:maxLength value="6" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="travellerInfo" minOccurs="0" maxOccurs="198">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="elementManagementPassenger">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="status" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="elementReference" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="qualifier">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="number">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                            </xs:annotation>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="segmentName" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="lineNumber" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
                                      </xs:annotation>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="travellerInformation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="traveller" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="surname">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an..57</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="57" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="qualifier" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="quantity" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                                            </xs:annotation>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="staffType" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="passenger" minOccurs="0" maxOccurs="2">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="firstName" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an..56</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="56" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="type" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="infantIndicator" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="1" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="identificationCode" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="70" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="originDestinationDetails" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="originDestination">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="origin" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="3" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="destination" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="3" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="itineraryInfo" minOccurs="0" maxOccurs="198">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="elementManagementItinerary">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="status" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="elementReference" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="qualifier">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="3" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="number">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                                  </xs:annotation>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="segmentName" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="lineNumber" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
                                            </xs:annotation>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="travelProduct">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="product" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="depDate">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: n6</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="6" />
                                                  <xs:maxLength value="6" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="depTime" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: n4</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="4" />
                                                  <xs:maxLength value="4" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="arrDate" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: n6</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="6" />
                                                  <xs:maxLength value="6" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="arrTime" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: n4</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="4" />
                                                  <xs:maxLength value="4" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="dayChangeIndicator" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="1" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="boardpointDetail" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="cityCode">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="5" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="cityName" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="17" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="offpointDetail" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="cityCode">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="5" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="cityName" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="17" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="companyDetail" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="identification">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="3" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="secondIdentification" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="4" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="sourceCode" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="4" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="productDetails" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="identification">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="6" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="classOfService" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="2" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="subtype" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="1" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="description" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="1" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="typeDetail" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="detail" maxOccurs="9">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="2" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="processingIndicator" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="messageAction">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="business">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="function">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:annotation>
                                                    <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:minLength value="1" />
                                                  <xs:maxLength value="3" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="relatedProduct" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="quantity" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
                                            </xs:annotation>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="status" maxOccurs="2">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: a..2</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="2" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 4.1 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000008590CD6EC2301084EF7E0AEE5589DB0A5544CA211284136905543D22632F60C93FA9D7A91A21DEBDEB2454DC2AF930DE5DCF7CDED5B25E6ECADD72B17FAB8B67FEC41FF98CCEE413940354A29BF0793E9BE52FAF93D57AF7C079CE3973C20236424271895D03D7FDE51B026AEF4805302030D5C4099CECAE4C7A6BC1452C8EC22030E3DD29191431B4C0946F0F06B6F0D5D230BC8B28CF43E3A80D6C5A0385F315C9FEDE3FEB2393FA27961091F402A2D006C9C601D5C209468E1F6B76E43434CA75996CB1BAA5309467B0221120ED85CF333E6769446DFBC668D278ED620DF10E7CCC2DB1771FC6A4578010478A0381D67F2B3CC7D8E45946385361858216A7B4B18C05EFE3DD67195A1162921F4E4B1DBBD17AE0C4CA87D26832C61B05FDB4D260146E7D88A0C6F15FE57FBEBCF0010000
-->

