KLS/PNR_AddFrequentFlyer_12_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/FFAREQ_12_1_1A" xmlns="http://xml.amadeus.com/FFAREQ_12_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_AddFrequentFlyer">
    <xs:annotation>
      <xs:documentation xml:lang="en">Frequent Traveller Card addition request</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pnrInfo" minOccurs="0" type="ReservationControlInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Record Locator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="nameOption" minOccurs="0" type="StatusType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Is the expected name returned by the FFA should be Universal (passport) name or Native (local) name?</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="fqtvGroup" minOccurs="0" maxOccurs="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">Frequent traveller data with addition of the associated name.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fqtvData" type="FrequentTravellerVerificationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Frequent Traveller data</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paxInfoGroup" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Passenger details</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paxInfo" type="TravellerInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Passenger name and tattoo</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="fqtvGroup" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Frequent traveller data with validation of the specified name.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fqtvData" type="FrequentTravellerVerificationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Frequent Traveller data</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="enhancedPaxInfoGroup" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">enhanced pax information</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="enhancedPaxInfo" type="EnhancedTravellerInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Enhanced name</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="fqtvGroup" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Frequent traveller data with validation of the specified name.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fqtvData" type="FrequentTravellerVerificationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Frequent Traveller data</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AccountHolderInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify frequent traveller cardholder information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="givenName" type="AlphaNumericString_Length1To56">
        <xs:annotation>
          <xs:documentation xml:lang="en">Expanded name Used with FFA message to be concatenated to the name associated to the card</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCompany" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent Flyer Card owning airline</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatingCompany" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Target airline that will use the frequent flyer card</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnhancedTravellerInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify traveler and personal details relating to one traveler having rich name and/or multiple names</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="travellerNameInfo" minOccurs="0" type="TravellerNameInfoType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name attributes unique for one passenger.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherPaxNamesDetails" maxOccurs="5" type="TravellerNameDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">5 possible types of names, for 1 passenger.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerVerificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide frequent traveller information for mileage accrual and account updating.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="actionRequest" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Action performed on the PNR: contains O in case of FF card/redemtion addition, and P in case of FF card and name addition</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyDetails" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Owner and target companies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accountDetails" type="ProductAccountDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Account identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accountHolderDetails" minOccurs="0" type="AccountHolderInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductAccountDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify frequent traveller card information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="frequentTravellerId" type="AlphaNumericString_Length1To27">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent flyer card number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Store PNR record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">PNR identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="action" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">UN for Universal name and NN1 for romanizable native name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To advise the requester system the status of the reply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusInformation" type="StatusDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">STATUS DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the given/first name and the title of a traveller and the traveller type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="givenName" type="AlphaNumericString_Length1To56">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger firstname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uniqueCustomerIdentifier" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger tattoo.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a traveler(s) and personal details relating to the traveler(s).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paxDetails" type="TravellerSurnameInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherPaxDetails" type="TravellerDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerNameDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify all the names in different alphabets associated to a same traveller</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger surname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="givenName" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger firstname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger title.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerNameInfoType">
    <xs:sequence>
      <xs:element name="uniqueCustomerIdentifier" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger tattoo in the PNR</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of the surname of a traveller, the type of traveller, number of travellers per surname and the action to be taken.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger surname.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To27">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..27</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="27" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To56">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..56</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="56" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095535D6BDB30147DD7AF107DD9C388E3B41D2B013DB889D30D96B44B52F612088A759388CA92A72B977AA5FF7D57B6B37630D8F662EE877C3FCE39F7265FE4CB6C9D4FB7B70B719E8E2E06E9D520FDC8BF81B2804A363CBD1A9F5F8E4717FC66BE7E9FA6E33465D93C0B4D0538D306AC2C4150607B2D5117EB184E9E50B19D4458500E2B59803886508D87C3A7D224B2940A6A4C0A570ED9AEB6CAC0547B31440841DB030E952E901547281E56F42DA508BE06563805F4048575367A650996BC3E5756D236B19DB0B53114A81AAF0FC720CEB2AE1DBFF3AEF21A82F40D9756F189B37BADA88696867FB67BE74B19B4B3635E5B5987A3F3FA07285E23B4CF95C6C238AC3D700C5E17C1349CFED9694535124EC8A57CC04FCD30910946DF18BE8C73205FD2F4FE115472C614EC656DC28DAF225C4AECA54160CAD53B032BF85E832DE04E86E2D867C05EFF1398605FDF3C47825EB6CF8FE091B622CB83012A43963C5087E685ED89BE656D083317996CFD96CEF6E768FDA5807185343DE4C61D14D1381D6F3EE5D974932BBD9745583B677093AFB7538D41DA3021A6883F626E3397FE0122E3DD1B6CB9C6CD1777A05AF6D00EA2D5AD350D2BC11FA007A3B5671A8CC295F3E1177CB438D25C19464C7F8F4D89756D7AE5D8FF82A872DA8605848E8E566CDEB9F006A1D68F024E58B7424414E329A5C374D4C770E67C6634D5EE151BB5A00BC02929897A93283B14B1943EC4BAF756173A34FD22C14B8BA6D527E123086B1CF695D7D97CF8ACC0685A4392805E12CAB2389E7A7B3E2496C9E966BA9A1469A16A2F59DB823DA109B775A8EA307346811731C0D86030EF607C875CBFDEC960C03A90C428636FFA8BEC2EDBDE2D96DBD1C52569BA94DA8AC9FD8AC15345746D256EA7F98D582FEFF3133D5C7A9062947E3805C46C962DF3AFACA283D078248A3BE03B76C488AC471D2923B34546B6208AD835536AE6DB1B0A33D3806727A2FE9CEDB917A373F61303B219290A050000
-->

