KLS/PNR_Cancel_13_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PNRXCL_13_2_1A" xmlns="http://xml.amadeus.com/PNRXCL_13_2_1A" elementFormDefault="qualified">
  <xs:element name="PNR_Cancel">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR CANCEL
PNR CANCEL
pnr cancel</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reservationInfo" minOccurs="0" type="ReservationControlInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">reservation control informations</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pnrActions" type="OptionalPNRActionsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">specific actions to be processed on PNR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="cancelElements" minOccurs="0" maxOccurs="4" type="CancelPNRElementType">
          <xs:annotation>
            <xs:documentation xml:lang="en">CANCEL PNR ELEMENT</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CancelPNRElementType">
    <xs:sequence>
      <xs:element name="entryType" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">E : XE    I : XI D : XD G : Name integration P : Priority line</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="element" minOccurs="0" maxOccurs="999" type="ElementIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Element data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElementIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">ELEMENT DATA</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ELEMENT DATA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">element number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subElement" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">sub element number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OptionalPNRActionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify specific Actions to be processed on PNR.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="optionCode" maxOccurs="40" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Processing options. Only the option 0, 10, 11 and 20 are supported.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">RESERVATION CONTROL INFORMATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">profile or PNR record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Reservation control information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">record information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009553C16EDB3810BDF32B885EF650589692EE62618007D5B28302B563386ED183018121C736518AD472A820DA20FFBE43496ED3D3EE5E8899E17066F8DE9BBBD576B52F0FABAABEDF8A9BBCB89DE57FCE6E6EF93A182D7B5EDC2E8A3F16C5077EB739BCCFF3459EB37253C6BE055C1B0B4E362028507F9468D42185B367D4EC51226CE90E5BA9405C626C17F3F9736333D9480D1D66CA3773F6D8396DA13241CC116234EE8C736D14327501F5FD81CE468A183A60CA6BA01414CEBBE4350D38F2A6BBA695AE4FED84EBACA540DB0773BE44F1AE1CDBF15DF06D301065E8B9749A2FBD3B194D358CB4FC933BF9D0C868BC5BF0CEC92E5E7C307F83E61DC290AE0D2AEBB10BC03106A3A2ED39BD79349A6A649C60CBF98C5F9B6126334CBEB57C9FE640BEA7E9C313E8EC1DD370929D8D77A14D70697192168169DF3D5A7880BF3A700A7632AACB7403EEE37F0213DCCF9C9744D06BFDF20401E9576405B04065C89267EAD0BFB213D1B7EF2C61E61393833FD0393C4ED6BF14B05E493B416EFD59138DD5E25879D50DE41C2B7802EBDBE41CD17741C1F1ABC14EDAE34A9B9354F1E0BDC5E3EA505706A37471494412BDE9ED4686EF900431E6E020053C7EF6676AE5CEC39C46DF3BDBB306C21926AC067B6DC06A7CF021FE409770411ABBC404F9AFB18A4461EC242CF7BF106CBD71710B71646BD062F03EBE0170F093BE33367E21018E69CDF2795E4C315CFB505A43B5274127A918055891D0A837697604191B1962AAFBC51965623F7D2406E9D00EF2257C045181F3A9F2A1DCCC5F345843DF90A4AFD78C6E591A4FBFDD2ED2D2F2BA52634D8A0C500D8B6E9C62CF68E37D17DB2EAEBDD510440A30369B6D46187F436E7EAED16CC646904451B237FD45B92BEBDD765F17B7BF1BD27C238D13BB6DC1E0B925BE6A8975B5BA1387FD97D5951F2E0348517CB8FA94BEFFB6FCCC5ADA178317A278047E6447DC90F5641265A21891910388E959BD94B45B965DE9113B17A6D044B3280AF60F894CB6E111050000
-->

