KLS/PNR_OverrideTicketTimeLimitUpdateReply_12_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/POTLUR_12_1_1A" xmlns="http://xml.amadeus.com/POTLUR_12_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_OverrideTicketTimeLimitUpdateReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR override ticket time limit entry response</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorinformation" minOccurs="0" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">general error info</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="airlineIdentifier" minOccurs="0" type="TransportIdentifierType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Segment is used to identify the airline</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="modifiedtimelimit" minOccurs="0" type="StructuredDateTimeInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment contains information about modified time limit</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCompany" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier code: the numerical one</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="informationType" minOccurs="0" type="AlphaNumericString_Length1To4" />
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="source" type="AlphaNumericString_Length1To3" />
      <xs:element name="encoding" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType" />
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To320">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateTime" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" minOccurs="0" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" minOccurs="0" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" minOccurs="0" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hour" minOccurs="0" type="Hour_hH">
        <xs:annotation>
          <xs:documentation xml:lang="en">Hour between 0 and 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minutes" minOccurs="0" type="Minute_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minutes between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To320">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..320</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="320" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hour_hH">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the hours in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-1]?[0-9]|2[0-3]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Minute_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the minutes in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="[0-5]?[0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FE33610BDF357107BE9A1B02C65BB2D6080076DECA405E20F38CACD80C188637BB014A972A8206A90FFDEA12477D3D3B6176166389A8FF7DEDCAF36AB7D59AD96C7ED46DDE4C5E759FEEBEC2697D5A50B64742F8B62F1E5B74591CBFB75F5739E2FF25C94EB32F62DD01D5A70BA01C581E3574D5857299CBD9211CF9A60C36FD4EA1AD425C676319FBF3636D38D36D05156FB662E9E3B672C2C31A839418CE8CE34375893A82F507F7BE46FA3550C1D88DA1BE01452CEBBE4350D38F6A6B7A6D5AE4FED94EBACE540DB073C5FA2FA548EEDE42EF83620441D7AA99D91B7DE9DD0700DD456FEE14E3E343AA2770BD939DDC58B0FF81718D9110CE906A9B69EBA009262C03ADA5EF23FCF68B8462619B85CCEE4B519653AA3E45B2BF7690E927B9E3EBC80C93E090327DDD9781FDA049751276D0984F1DDB38547F8B30357C34EC7FA32BD80FBFA9FC004F73DE72D11F47E7C7B8140BC155B012C7019B6F4993BF4EFE2C4F4ED3BCB98F9C4E4E00F740E3F27EB0705ACAFB59D20B7FE6C98C6E5E2F0FBAA5C1E56064FBA8E95F7960EABEAB8448ADAC55B668AF963E60E6B1DBE41627CCCA1816B3A3CF833D772E76110345B677BD14038C304C660DF2158438F3EC47FE0E3C589E72A2961FAEFD89259473B29C7FD2F885A8F2E6E208E740C620BDEC70F080D7E127026C61512A2942E299FE7C514A33B1F4A8B5C7B526CD202D6404B5612F766518E2852A3434C759F1CD618FB699118B4233BE893F1518C35CDA7CA55B99EBF19B0C86B6816D07BC6AF228D673E9E0F8BE5F67A33634D8E0C500D978CAE16AF64E3B68B6D17EFBC3510540A08319BAD47187F2289DFEF6436132348AA28C587FEAADC95C7DD667F2C3EFF822CEA46A353EC0B786D99AFA3A6E37275AFAAFDD3EACA8FD401B42ABE5C7DB5DB560F4F7BD1F241205D98E211F8911D55B0F5828932360764F40062EA72DCF21881EFBAC29AD55561030FD8607C6A8D8E20AEACFD38750F2D0B6F92862A6EC4DF5D8F1E0528050000
-->

