KLS/PNR_ListCancelledPassengersByFlight_13_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PALXRQ_13_1_1A" xmlns="http://xml.amadeus.com/PALXRQ_13_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_ListCancelledPassengersByFlight">
    <xs:annotation>
      <xs:documentation xml:lang="en">Pnr Active List Cancelled Passengers Retrieve reQuest
Search a flight/date for a list of PNRs matching a set of criteria
</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="flightDateQuery">
          <xs:annotation>
            <xs:documentation xml:lang="en">This group contains all input parameters.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="flightIdentification" type="FlightDetailsQueryType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Main search criterion: flight number and Airline Code</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dateIdentification" type="StructuredDateTimeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Main search criterion: flight date</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="outputSelectionOption">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Drives the content of the response.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="outputType" type="SelectionDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To select Output: PNRs Counters only PNRs Counters and PNRs images. Queue-Placed PNRs</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="elementType" minOccurs="0" maxOccurs="20" type="ElementManagementSegmentType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Used for specifying the PNR data elements to be included in the response</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="searchCriteria" minOccurs="0" maxOccurs="10">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Primary and secondary search criteria. Logical AND between primary search criteria is performed implicitly</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="primarySearchCriterion" type="SelectionDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">A primary search criterion can be expressed as:   - a functional rule based on different PNR elements (e.g. un-ticketed passengers, based on the absence of TKOK or SSR TKNE, SSR TKNA, SSR TKNM).   - the presence of a given PNR element (e.g. passengers having a SSR)   - a particular PNR characteristic (e.g. group PNR).</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="negativeMode" type="BooleanExpressionRuleType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Indicates how the primary search criterion has to be interpreted (perform a positive or a negative search):  - NOT: negate the primary search criterion  - NOP: don't negate the primary search criterion</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="associationMode" minOccurs="0" type="BooleanExpressionRuleType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Indicates how the secondary search criteria must be combined (logical AND or logical OR between them)</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="secondarySearchCriteria" minOccurs="0" maxOccurs="10">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This group is able to convey any secondary search criteria (i.e. search values). A secondary search criterion can consist of:  - a PNR element type (e.g. FB element). In this case, EMS segment is used  - the actual value of a business object (e.g. class of service).  Segments in this group are mutually exclusive.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="triggerMarker" type="DummySegmentTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">This segment is here as trigger because all other segments that follow are mutually exclusive.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="classOfServiceValue" minOccurs="0" type="ProductInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for a search by class of Service.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="carrierOrFlightValue" minOccurs="0" type="FlightDetailsQueryType_133632S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for a search by:   - inbound/outbound connection   - marketing carrier/flight In both cases a carrier code or a full flight number can be specified.  Composites are conditional because they are used in mutually exclusive situations</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ssrOsiSkValue" minOccurs="0" type="SpecialRequirementsDetailsType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for a search for:   - specific SSR/OSI/SK type   - seat number  Composites are conditional because they are used in mutually exclusive situations</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="cabinValue" minOccurs="0" type="SegmentCabinIdentificationType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for a search by cabin</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="statusCodeValue" minOccurs="0" type="RelatedProductInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for a search by status code.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="passengerNameOrTypeValue" minOccurs="0" type="TravellerInformationType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for a search by:   - passenger last name   - passenger type   - name type in a group PNR (corporate or individual name)  Composites are conditional because they are used in mutually exclusive situations</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="originValue" minOccurs="0" type="AdditionalBusinessSourceInformationType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for a serach by:   - PNR Owner   - POS (system or country)   - AP element (City code)  Composites are conditional because they are used in mutually exclusive situations</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ticketArrangementValue" minOccurs="0" type="StatusTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used when searching for:   - ticketed passengers   - unticketed passengers</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="numericRangeValue" minOccurs="0" type="RangeDetailsTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for a search by:   - connection time (e.g. less than 4 hours)   - PNR number in party (e.g. NIP between 2 and 8)   - number of passengers (e.g. 10 last booked passengers)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="elementTypeValue" minOccurs="0" type="ElementManagementSegmentType_133630S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used when searching for a specific PNR element type, without being interested in its content (e.g. Primary search criterion is "ticketed passengers" and secondary search criterion is "passenger has a FA element")</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="frequentFlyerValue" minOccurs="0" type="FrequentTravellerIdentificationCodeType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for a search by:  - airline priority code  - airline tier level  - alliance tier description  Data elements are conditional because they are used in mutually exclusive situations.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="negoRecordLocator" minOccurs="0" type="NegotiatedspaceKeyInformationType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Unique ID for negociated space</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="extendedPassengerName" minOccurs="0" type="EnhancedTravellerInformationType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">To Filter Search using Passenger Name - Supporting Non-Roman Scripts (UTF-8)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="outputAggregationOption" minOccurs="0" maxOccurs="5">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To select the way output data have to be aggregated (e.g. first by flight segment, then by class). When this group is not present in the request, the output is "flat" (no specific aggregation strategy is applied).</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="aggregationLevel" type="LevelIndicationTypeU">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Position of the aggregation key in the aggregation hierarchy.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="aggregationKey" type="SelectionDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Aggregation key (e.g. aggregate by class)</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="queueDetails" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To convey Queue Details when Queue is selected as Output mode.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="queue" type="QueueInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Queue Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="category" type="SubQueueInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Queue Category</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdditionalBusinessSourceInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify ownership and creator of a PNR</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceType" minOccurs="0" type="SourceTypeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">SOURCE TYPE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorDetails" minOccurs="0" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Originator details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationDetails" minOccurs="0" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">LOCATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="countryCode" minOccurs="0" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Country code of the system location (codeset is not exhaustive)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="systemCode" minOccurs="0" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification (codeset is not exhaustive)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArithmeticEvaluationType">
    <xs:sequence>
      <xs:element name="codeOperator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Boolean operator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BooleanExpressionRuleType">
    <xs:sequence>
      <xs:element name="booleanExpression" type="ArithmeticEvaluationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Boolean expression associated to the decision rule.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DummySegmentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To serve the purpose of a mandatory segment at the beginning of a group and to avoid segment collision.</xs:documentation>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ElementManagementSegmentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the PNR segments/elements references and action to apply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="segmentName" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To Provide Element Type in Output</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElementManagementSegmentType_133630S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the PNR segments/elements references and action to apply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="segmentName" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">PNR segment or element name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnhancedTravellerInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify traveler and personal details relating to one traveler having rich name and/or multiple names</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherPaxNamesDetails" type="TravellerNameDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">5 possible types of names, for 1 passenger.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlightDetailsQueryType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify outbound and inbound flight information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="carrierDetails" type="OutboundCarrierDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">provide information on the oncarriage flight carrier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightDetails" type="OutboundFlightNumberDetailstypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference of the oncarriage Flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardPoint" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The port of departure of the flight or flight segment. It is mandatory when FDD date is used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offPoint" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The port of destination of the flight or flight segment. It is mandatory when FAD date is used.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlightDetailsQueryType_133632S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify outbound and inbound flight information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="carrierDetails" type="OutboundCarrierDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">provide information on the oncarriage flight carrier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightDetails" minOccurs="0" type="OutboundFlightNumberDetailstypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference of the oncarriage Flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureDate" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey the Departure Date of the Flight.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardPoint" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The port of departure of the flight or flight segment. It is mandatory when FDD date is used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offPoint" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The port of destination of the flight or flight segment. It is mandatory when FAD date is used.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify frequent traveler information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="frequentTravellerDetails" type="FrequentTravellerIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent Traveller Info</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationType">
    <xs:sequence>
      <xs:element name="tierLevel" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify a Tier linked to the FQTV</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priorityCode" minOccurs="0" type="AlphaNumericString_Length1To12">
        <xs:annotation>
          <xs:documentation xml:lang="en">For example : priority code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tierDescription" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">For example : Level description</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LevelIndicationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate a level in a hierarchical structure.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="position" type="PositionIdentificationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Level information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trueLocationId" type="AlphaString_Length3To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location found in an AP element (codeset is not exhaustive)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NegotiatedspaceKeyInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Contains all possible negotiated spaces's keys</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="negoRloc" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amadeus record locator for negotiated space</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nego1Aid" minOccurs="0" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amadeus negotiated space identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inHouseIdentification1" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Office ID or TTY address.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutboundCarrierDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the airline company and an associated airline company.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCarrier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Marketing Carrier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutboundFlightNumberDetailstypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the flight number and operational suffix of the outbound flight.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight Number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Operational Alpha Suffix</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PositionIdentificationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the position of an object in a structure              containing the object</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Value of the hierarchical level</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify availability and additional services for a product class.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="designator" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class of service (codeset is not exhaustive)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to availability status or cabin configuration for a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="bookingClassDetails" type="ProductDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the booking class.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueueInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the name of the queue,  position of items, count, maximum items allowed, status and related queues.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Queue Number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueueInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details of a reservation queue.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="queueDetails" type="QueueInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey Queue Number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RangeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a range.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rangeDetails" type="RangeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the range</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RangeTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Range minimum and maximum limits.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Data Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="min" minOccurs="0" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Lowest value of the range</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="max" minOccurs="0" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Highest value of the range</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate quantity and action required in relation to a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusCode" type="AlphaString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Booking status (codeset is not exhaustive)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SegmentCabinIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To reference a segment cabin</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cabinCode" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin class designator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Option</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Selection details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SourceTypeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of source.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceQualifier1" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">source qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsDataDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Special requirements data details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="seatNumber" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seat number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify special requests or service s information relating to a traveller</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="specialRequirementsInfo" minOccurs="0" type="SpecialRequirementsTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the Service Requirement of the customer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatDetails" minOccurs="0" type="SpecialRequirementsDataDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the Seat Number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsTypeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPECIAL REQUIREMENTS TYPE DETAILS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ssrCode" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the Code of the SSR/OSI/SK.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify if the service is an: - SSR - OSI - SK</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="action" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Secondary ticket action identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a status and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusDetails" type="StatusDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ticket arrangement</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to provide the semantic of the information provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hour" minOccurs="0" type="Hour_hH">
        <xs:annotation>
          <xs:documentation xml:lang="en">Hour between 0 and 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minutes" minOccurs="0" type="Minute_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minutes between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubQueueInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the name of the sub queue, count, maximum items allowed and status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumber" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Category</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubQueueInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details of a reservation sub queue</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="subQueueInfoDetails" type="SubQueueInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Queue Category</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the given/first name and the title of a traveller and the traveller type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger type (PTC)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a traveler and personal details relating to the traveler</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paxDetails" minOccurs="0" type="TravellerSurnameInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">passenger type code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherPaxDetails" minOccurs="0" type="TravellerDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">passenger type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerNameDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify all the names in different alphabets associated to a same traveller</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger surname</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationType">
    <xs:sequence>
      <xs:element name="surname" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">PAX = PAX IN = Infant</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length3To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To12">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..12</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hour_hH">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the hours in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-1]?[0-9]|2[0-3]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Minute_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the minutes in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="[0-5]?[0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDF4B06B596E368BD6000F4A6C6717881DD7716F068C8938B68952A49643055183FCF71D4A729BA240BB7B116686A3F978EFCDCD7C35DF14DBF96C7FB752EFF2C9C568928FDEBD974BEF34B4327F3FBDFC30BDFC43DE2CB7BFE5F934CF45B12C625B232D8C4507152A0EECAF804CB94DE1EC89B47800C215BF510D25AA538CF5743C7EAA6C0615686C282B7D35160F8DD3166726A831618CC61D69AC4D49A23C61F9F99EBF15A8181A14A5D7C829A49C77C9AB2A74EC0D6F550DAE4DED946BACE540DD06733C45F5A6E8DBC975F075301821B4129C96D7DE1D8CE61A06ACFCDB1D7CA8201AEFA6B271D0C4930FE60B6AD91076E9DA50693D350125C560CA685BC9FF3C18CD3532C9B0E57224CFCD28838C926FADDCA439486E78FAF0883A7B23341EA0B1F126D4092EAD0E600985F6CD83C57BFCA74157E21A62791A5ED05DFD2730D17DCB794E04BDEC9F1F31106FC556408B5C862D387287F6451C98BE4D6319339F98ECFC8ECEEEE764FDA280F525D80172EB8F9A699C4D777FCD8BD96EAECD01CAB8F5DED26EBEDDCF0C4570F19A9962FE98B9DD12C2674C8CF739D4714DBB5B7FE45AEED80D62F49DB3ADA8301C7100A3B31706ADA67B1FE257F87871E2B90A4A987E1F9B31EBC60ECA71FF0BA2DA1B1757187B3A3AB105EFE32B843A3F093813FD0A09514A77948FF3C910A3850F85355C7B506CD282299166AC24EECDA2EC51A40A424C753F39539AD80E8BC4008E6CA74FC64731D6341E2A6F8BE5F859A335BC06B0805E327E15693CFDFA7C582CD7E79BE96B72A483AABB64E34AF14436DE35B16EE2C25B8D41A58010A3D1B287F12D49F3ED4E4623D183A4268578D55F15EB62BF5E6DF6938B3F0D8BBA02E3D4FDD5ADC0A79AF9DA03ED67F31BB5DD7C9A9FF9911010D4E4F2ECAB7571BBDE7C14351F84A11353DC03DFB3A3266C3D9A44199B1D32D081A852D75BD6D935F001598B7A0D44E88ECCEF55BBB0E90E7F97E7A41FDFC49953F5939C412C6A7221FE05D338C11638050000
-->

