KLS/PNR_DisplayMissingSSRdocx_12_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PMSDRQ_12_1_1A" xmlns="http://xml.amadeus.com/PMSDRQ_12_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_DisplayMissingSSRdocx">
    <xs:annotation>
      <xs:documentation xml:lang="en">Display, for each flight, passengers missing SSR DOCx</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serviceRequest" type="SpecialRequirementsDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">To specify that the request should display missing SSR DOCA, DOCO or DOCS</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="referenceForSegment" minOccurs="0" type="ReferenceInfoType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Used to precise on what segment should apply the request</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific Hotel reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify special requests or service s information relating to a traveller</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="specialRequirementsInfo" minOccurs="0" type="SpecialRequirementsTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the Service Requirement of the customer.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequirementsTypeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPECIAL REQUIREMENTS TYPE DETAILS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ssrCode" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify what SSR type should be returned in the response</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDF4505896D2CD1E0CF0A0464EB6C0DA716DE766C0A0C9B14D9422550E15581BE4BF7728C96D7AD9EE5E8499E1683EDE7BF3305FCED7E5765EED1F97E2262F3E4EF29B49F107DF9EDB805A76BCB899DDFE39BB2DF8C362FB21CF6779CECA4519BB06F0DE5870B2064181FD2789466D5338BBA0660789B0A4376CA402718EB1994DA797DA66B2961A5ACC94AFA7ECD03A6DA132414C116234EE84536D14327506F57543DF5A8A185A60CA6BA01414CEBBE4D53538F2C6B7BA91AE4BED846BADA540D305733A47F1AE1CDAF155F04D301065E8B8749ADF7977349A6A1869F96777F4A196D17837E3AD936D3CFB60FE01CD5B843E5D1B54D6631B80630C4645DB71FAE76034D5C8380197F309BF36C34C66987C6BF93ACD817C4DD38767D0D93BA6E1285B1B1F4293E0D2E2282D02D3BE3D58D8C0B7169C82958CEA3CBE80FBF49FC004F733E72511F4BA7F798680B41559012C5019B2E4893A74AFEC48F4AD5B4B98F9C464EFF774F63F27EB3705AC57D28E905B7FD2446335DBFD352FABDD5C9BA35471EBBDC5DD7CBBAF0C46E9E21D3145FC1173BB850C5F21313EE460CF35EEFEF627AAE54EFD20463F3ADBB11AC20946307AFBDE80D5B8F121FE808F16479AABC484E9AFB18A583776548EFB5F1035DEB8B88438D0D18B2D781FDF20D4FB49C0191B56488862BAA47C9A17630CEF7D28ADA1DAA36293168C02AC4849D49B4439A088B50C31D57D724699D88D8BC4201DDA5E9F848F20AC713A56DE968BE98B066B680D49027ACDE895A5F1F4DBF321B1DC5D6F66A849911EAAFE928D53EC82363EB6B169E3BDB71A824801C62693C500E37BE4E6E79D4C266C004914257BD35F94AB72BF5AAEF7C5C7E240A2AEA571C36E706988B0BDC47D357F10DBF5D3FC4A109701A4286EAFBE582D36D5FA0B6BE8220C9E89E301F9811E5190F56C126764F6D0C81E4591DA92D01A2BBB85415AEAB4D9ACB5571776A5EB5F52461988E2867D072FDFA34E14050000
-->

