KLS/QueueMode_ProcessItemsOnQueue_13_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/QMODCQ_13_2_1A" xmlns="http://xml.amadeus.com/QMODCQ_13_2_1A" elementFormDefault="qualified">
  <xs:element name="QueueMode_ProcessItemsOnQueue">
    <xs:annotation>
      <xs:documentation xml:lang="en">Queue Request Message
Message to request queue mode functions
QUE - Queue mode function REQ - Request message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageActionDetails" type="MessageActionDetailsTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specifies the action to be carried out on the queue in the current message</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="recordLocator" minOccurs="0" type="ReservationControlInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specifies the record locator of the PNR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="interactiveFreeText" minOccurs="0" type="InteractiveFreeTextTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">interactive free text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="queueInfoDetails" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specifies the queue details like queue type, targeted office, queue number, category number or so on.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="selectionInfoDetails" type="SelectionDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specifies the queue type ( PNR or Message Queue )</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="queueGroup" minOccurs="0" maxOccurs="10">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Groups segments required for Queue decsription</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="queueInfo" type="QueueInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specifies the information of the queue</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="subQueueInfo" minOccurs="0" maxOccurs="2" type="SubQueueInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specifies the subqueue details like category number and category name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="targetOffice" minOccurs="0" type="TicketAgentInfoTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specifies the targeted office for Queue operation</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="dateTimeInfo" minOccurs="0" type="DateAndTimeInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specifies the date and time related information</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DateAndTimeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="date" minOccurs="0" type="AlphaNumericString_Length1To7">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the date -DDMMMYY</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="time" minOccurs="0" type="Time24_hhmM">
        <xs:annotation>
          <xs:documentation xml:lang="en">specifies the time</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateAndTimeDetails" minOccurs="0" type="DateAndTimeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the date and time details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextQualificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type, purpose, and language of free text and whether any action is required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">text subject qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide free text information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextQualification" minOccurs="0" type="FreeTextQualificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">free text qualification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" minOccurs="0" maxOccurs="99" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InternalIDDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an internal identification and the type of identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inhouseId" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the office ID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageActionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the message type and business function.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageFunctionDetails" type="MessageFunctionBusinessDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the required Queue operation</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageFunctionBusinessDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate the type and function of a message or part of a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageFunction" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the intended operation in the current message</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueueInformationDetailsTypeI">
    <xs:sequence>
      <xs:element name="number" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the queue number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfItems" minOccurs="0" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of items on the queue</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="queueName" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the name of the Queue</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueueInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specifies the Queue details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="queueDetails" minOccurs="0" type="QueueInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the queue details like queue number, queue name and nunber of items in it.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">Message / PNR Indentifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains the record locator of the PNR to be place on the Queue.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Selection details information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains all the valid options available to carry out designated action.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details for making a selection</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains selection details available to carry out designated action,</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubQueueInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the name of the sub queue, count, maximum items allowed and status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identificationType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">E for every category    A for cats with items to be worked C for category number N for nickname CN for both category number and nickname numeric for date range</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemNumber" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">category number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemDescription" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">used for nickname on inbound used for category name on outbound</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubQueueInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details of a reservation sub queue</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="subQueueInfoDetails" type="SubQueueInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">identifies the category or categories.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketAgentInfoTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey travel agent and system identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="internalIdDetails" minOccurs="0" type="InternalIDDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the targeted office id</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To7">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_hhmM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H.Only significant digits are mandatory. Example: from 0 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1]?[0-9]|2[0-3])?[0-5]?[0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BBEC30C476DA02ED02E8E036495160E9479ADE06048AC5244265C913A5AE5ED1FF3ECA76DAEEB4ED929014CD8FF71E2F67D7B365B99A4DD737D7E2A8189F8C8AA3D1F898AFF6D1A3922D2FCE26C75F2747A7FC72B1FA521493A260E5A20C6D0338D706ACAC4150607D2E5157AB14CE9E51B18D44B8A6376C6405621F4233C9F3E7DA64B2960A226695AB73B6895619986A2F728410B4DD61AE7485ACDA43F5784FBFB514C147609553402928ACB3C9AB6BB0E40D6F75236D9BDA091B8DA140D37ABDDB07F1A9ECDBF15BEF1AAF2148DF726915BF7076AB15D5D0D2F02BBB75BE96413B3BE1D1CA18F6CEEB5FA07844E8D295C6CA388C1E3806AFAB605A4EDF6CB4A21A1927E00A3EE2876698C90C936F0C5FA639902F697AFF042AFBC4146C6534E1D237092E25B6D22030E5E2C6C03DFC88602BB895A1DA0F2F60CFFF094CB0EF392F89A0D7F5CB1378A4ADC8F26080CA902577D4A17D655BA26F190D61E612939DDFD1D97D9CACBF1430AE926680DCB89D4A347AA85D80BCFE99D3B27A2BAB90CFFAFF957306F3D96A3DD518A40D17C41A71492CE60BE91F21B1DFE760C73B7EFFE67654D7EEBAA1B4BAB1A66535F81D0CC074F65C835178EF7C78839240409AB1C484EF9FB12929409B4145F6BFE06A9CB6E11A424F4D273CEF5CF88056E7273167AC5F21A18BE9AA8ABC180F319C3B5F1A4DB507F5265DE80A704AAAA2DE24D01E51ACA50FA9EE83D5950EEDB048F0D2A2E9B44AF808C2FD0DB055B9C85F14184D6B4812D36B46AF2C8DA73E9E1209E7E2703F7D4D8A74507557AD6DC59ED1849B189A18E6CE28F02205181B8D163D8C9F91EBF79B198D580F92B82AD987FEA2BC2DD77711222CE87AD7E39331A9BC96DA8ABB871983E786485B4B5C4F679762B5A4D04012971EA4189F1EFC94BE9CDDB1862E44E39E78EED1EF291263B29E74E28DCC0E1ED92129DE5BD3F513C27815A0C61BDBC5D981B63E6D990E0FC3B01F1B84208A33F61B4B79722B22050000
-->

