KLS/QueueMode_ProcessItemsOnQueue_13_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/QMODCQ_13_1_1A" xmlns="http://xml.amadeus.com/QMODCQ_13_1_1A" elementFormDefault="qualified">
  <xs:element name="QueueMode_ProcessItemsOnQueue">
    <xs:annotation>
      <xs:documentation xml:lang="en">new Queue Mode Request Message
Message to request queue mode functions
QUE - Queue mode function REQ - Request message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageActionDetails" type="MessageActionDetailsTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specifies the action to be carried out on the queue in the current message</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="recordLocator" minOccurs="0" type="ReservationControlInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specifies the record locator of the PNR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="interactiveFreeText" minOccurs="0" type="InteractiveFreeTextTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">interactive free text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="queueInfoDetails" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specifies the queue details like queue type, targeted office, queue number, category number or so on.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="selectionInfoDetails" type="SelectionDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specifies the queue type ( PNR or Message Queue )</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="queueGroup" minOccurs="0" maxOccurs="10">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Groups segments required for Queue decsription</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="queueInfo" type="QueueInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specifies the information of the queue</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="subQueueInfo" minOccurs="0" maxOccurs="2" type="SubQueueInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specifies the subqueue details like category number and category name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="targetOffice" minOccurs="0" type="TicketAgentInfoTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specifies the targeted office for Queue operation</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="dateTimeInfo" minOccurs="0" type="DateAndTimeInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specifies the date and time related information</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DateAndTimeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="date" minOccurs="0" type="AlphaNumericString_Length1To7">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the date -DDMMMYY</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="time" minOccurs="0" type="Time24_hhmM">
        <xs:annotation>
          <xs:documentation xml:lang="en">specifies the time</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateAndTimeDetails" minOccurs="0" type="DateAndTimeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the date and time details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextQualificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type, purpose, and language of free text and whether any action is required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">text subject qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide free text information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextQualification" minOccurs="0" type="FreeTextQualificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">free text qualification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" minOccurs="0" maxOccurs="99" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InternalIDDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an internal identification and the type of identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inhouseId" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the office ID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageActionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the message type and business function.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageFunctionDetails" type="MessageFunctionBusinessDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the required Queue operation</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageFunctionBusinessDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate the type and function of a message or part of a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageFunction" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the intended operation in the current message</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueueInformationDetailsTypeI">
    <xs:sequence>
      <xs:element name="number" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the queue number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfItems" minOccurs="0" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of items on the queue</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="queueName" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the name of the Queue</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueueInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specifies the Queue details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="queueDetails" minOccurs="0" type="QueueInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the queue details like queue number, queue name and nunber of items in it.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">Message / PNR Indentifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains the record locator of the PNR to be place on the Queue.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Selection details information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains all the valid options available to carry out designated action.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details for making a selection</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains selection details available to carry out designated action,</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubQueueInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the name of the sub queue, count, maximum items allowed and status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identificationType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">E for every category    A for cats with items to be worked C for category number N for nickname CN for both category number and nickname numeric for date range</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemNumber" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">category number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemDescription" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">used for nickname on inbound used for category name on outbound</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubQueueInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details of a reservation sub queue</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="subQueueInfoDetails" type="SubQueueInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">identifies the category or categories.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketAgentInfoTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey travel agent and system identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="internalIdDetails" minOccurs="0" type="InternalIDDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the targeted office id</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To7">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_hhmM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H.Only significant digits are mandatory. Example: from 0 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1]?[0-9]|2[0-3])?[0-5]?[0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BBEC30C4715A60EB02E8E0364E566049DA34BD0508148B4984CA9227CA45BCA2FF7D94EDACDD69DBC520299A1FEF3DCEF245BECAD6F964BB5C888B74743918A5838B2B3E7756C986A75FC7693A4EAFF86CBEFE14AD9465F32C3415E0541BB0B2044181EDB5445DAC633839A1623B89B0A037AC6401E21842351E0E4FA549642915D49814AE1CB25D6D958189F662881082B6071C2A5D202B8E503C3DD0B79422F81A58E114500A0AEB6CF4CA122C79FD5B5949DBC476C2D6C650A06ABC3E1C83F89075EDF89D7795D710A46FB8B48ADF38BBD78A6A6869F8ADDD3B5FCAA09D1DF3DACA3A1C9DD73F41F11AA14D571A0BE3B0F6C031785D04D370FA67A715D54838C196F2013F37C34426187D63F82ACE817C45D3FB6750C907A6602F6B1366BE8A7029B19706812957EF0C3CC08F1A6C01773214C7FE05ECF53F8109F62DE72512F4BA7D79068FB415591E0C5019B2E4813A34AF6C4FF4AD6A4398B9C864EBB774B63F47EB2F058C2BA4E92137EEA088C6C978F32DCF269B5CE9BD2CC2DA39839B7CBD9D680CD2861B628AF823E63673E99F2032DEE560CB356EBEBB03D5B2877610AD96D634AC047F801E8CD69E6A300A1F9C0FBFE1A3C591E6CA3062FA676C42AC6BD32BC7FE174495D3362C207474B462F3CE857708B57E1470C2BA1522A218EF281DA6A33E8653E733A3A976AFD8A8055D004E4849D49B44D9A188A5F421D67DB4BAD0A1E917095E5A34AD3E091F4158E3B0AFBCCEE6C3170546D31A9204F49AD02B8BE3A9F7E74362B939DF4C5793222D54ED256B5BB0139AB0AC435587A9330ABC8801C606837907E347E4FAED4E0603D681246E33F6AEBFC8EEB2ED7D0D35CCE962B7A3CBCF9AA45D4A6DC5FD63CEE054116B5B89DB493E13EB15857A96B8F420C5E8CBD98FE9ABFC9E5574161A8F4474077FC7911891F5AC237164B6F8C8164AF1D69B4E9E20C6DB00252E6D1B6767DEBAB455BC360CFD82AC578248AFD82FA2A2BBAD15050000
-->

