KLS/SalesReports_DisplayClosedSalesReportListReply_10_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TSRLRR_10_1_1A" xmlns="http://xml.amadeus.com/TSRLRR_10_1_1A" elementFormDefault="qualified">
  <xs:element name="SalesReports_DisplayClosedSalesReportListReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Sends the list of closed sales reports</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorGroup" minOccurs="0" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys a potential error and its associated Free flow text.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="listReportDataDetails" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys all the details associated to the list of closed sales reports.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="agencyDetails" type="AdditionalBusinessSourceInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys agency details:  - IATA number - Office ID.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dateDetails" type="StructuredDateTimeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the system date and the specific requested date.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="actionDetails" minOccurs="0" type="ActionDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys details used for handling scrolling requests.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="agentDetails" minOccurs="0" type="UserIdentificationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys details related to the agent/user associated to the requested sales report.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="reportGroup" maxOccurs="9999">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Content of the sales reports list: conveys all the sales reports and associated details.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="salesReportIdentification" type="ItemNumberTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This optional segment conveys the sales report number.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="salesPeriodDetails" type="StructuredPeriodInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Sales report period dates: From and To dates.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="currencyInfo" type="CurrenciesTypeU">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Conveys the currency code.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="salesReportStatus" type="StatusType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Sales report status.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="agentDetails" minOccurs="0" type="UserIdentificationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Sales report creator Agent's sine. In case sales report is created automatically, segment is not sent.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ActionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the action that should be taken on a selected reference number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfItemsDetails" minOccurs="0" type="ProcessingInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the number of lines to retrieve.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastItemsDetails" minOccurs="0" type="ReferenceTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of the last element retrieved.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalBusinessSourceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional originator and source information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceType" type="SourceTypeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorDetails" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">details of the sales report originator.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrenciesTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify currencies used in the transaction and relevant details for the rate of exchange.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyDetails" minOccurs="0" type="CurrencyDetailsTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">The usage to which a currency relates</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the type of currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currencyIsoCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ISO code of the currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier of the subject</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationType" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Language</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Encoding type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Error free text details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys a number which can be: - the sales report number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" type="ItemNumberIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the sales report number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" type="NumericInteger_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">IATA number of the agency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification1" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Office ID of the agency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI_85102C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Agent sine (Numeric Sine)+(Agent Initials)+(Duty Code) ex : 0001XVSU).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcessingInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the action to be taken and the selection criteria.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfItems" minOccurs="0" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">- In a query: number of rows requested. - In a reply: 0 if no more remaining rows, else empty.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify which number in a sequence of references and/or the reference number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="lastItemIdentifier" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">- In a reply: conveys  the key on the last item sent in case there are more items.  - In a request: when it is not the first call, conveys the last ticket key received.  This key can be a ticket number or a sales report number, depending on the type of the report.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SourceTypeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of source.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceQualifier1" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source qualifier: reporting office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourceQualifier2" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates that data are associated to all agencies sharing the same IATA number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Sales report status.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the sales report closure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys a tape number in case of an associated tape.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To advise the requester system the status of the reply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusInformation" maxOccurs="99" type="StatusDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Current date - Requested specific date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" minOccurs="0" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" minOccurs="0" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" minOccurs="0" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredPeriodInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey period in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="beginDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the begin date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the end date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to identify a user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originIdentification" minOccurs="0" type="OriginatorIdentificationDetailsTypeI_85102C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Originator Identification Details: reporting office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originator" minOccurs="0" type="AlphaNumericString_Length1To30">
        <xs:annotation>
          <xs:documentation xml:lang="en">User Id of the requester</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To30">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..30</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 4.2 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BBEC30C4B18BAD0302E8E0E6A3D8D0A48593619700816A31895059F244B9A857F4BF8FB29D353DAD030C83A4A427EABDC7EBF96A5EE49BF96C77BB121769968DD20BFAF84F501650C996679F27D9E524FBCAAF979B4F693A4953962FF3D0D6800B6DC0CA0A041576571275B989E5E40915BB97082B5AC35A96208E21D493F1F8A93289ACA4820693D25563561EA17C58D3BF9222F80658E914200414D6D998551558CA86B5AA96B68DA8C236C650A16EBD3E1C83F890F7A8FCCEBBDA6B08D2B75C5AC5A7CEEEB5220C2D0DFF66F7CE5732686727BCB1B20947E7F56F50BC41E8B62B8DA571D878E018BC2E8369399DB9D78A30124E04A57CC44F976122138CB931BC887D202FA87BFF082AF9C014EC6563C2B5AF232B4AECA54160CA35F706D6F0AB015BC29D0CE5B17F1DD8AB775106F675CF7394E165F7FC081EE951147930403014C9035DD0BEB03D89543486287351AF2EEF44EB0EC7E81F00C695D20C8C1B7750DA8BD9643B577A2FCBB071CEE076BED9CD340669C3943422E548B3ED52FA0708DA1EFA3DD8A98CDB1B7720187BE87AD0EAD69A9655E00F3010D4C50B0D46E1DAF9F097387A33524B394636DFD666A4B7368367EC7FB1533B6DC30AC29910DEB970460EEB1B8F14629C90749C66430D17CEE74613E2E0D0A8BD2E0167E41CBA914CD8D38695F421A2FDB0BAD4A11DDA0F5E5A349D1F891541E4E27840DEE4CBF1B302A3A979498679496895C5A6D4F9B8903BA6A719E931A9D211D40DA8B6257B42136E9B503761E18C022F6281B1D168D993F711B97E9D8BD188F5D4882C6767F78BFC2EDFADC90758404DB2E02E4BBF90992BA9ADF89EDF9DA4E0D283149797A75C6CD6C54D51B09A5CAFF1486AF61CF742888CA2471DD5A1B0A34376CC89375791B76A23DB294D263DFF75E5863CC74E42BDFF0845E4B9C115224BD91F580C279E05050000
-->

