KLS/SalesReports_DisplayDailyOrSummarizedReportReply_11_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TSRSRR_11_1_1A" xmlns="http://xml.amadeus.com/TSRSRR_11_1_1A" elementFormDefault="qualified">
  <xs:element name="SalesReports_DisplayDailyOrSummarizedReportReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Sends back the Summary or Daily sales report</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorGroup" minOccurs="0" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys a potential error and its associated Free flow text.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="dailySummaryReportDataDetails" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys all the details associated to a daily or a summary report.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="salesReportIdentification" type="ItemNumberTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This segment conveys a specific sales report number or nothing if it references the current one.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dateDetails" maxOccurs="2" type="StructuredDateTimeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the current date or the specific requested date.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="currencyInfo" type="CurrenciesTypeU">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the default or requested sales report currency.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="agencyDetails" type="AdditionalBusinessSourceInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the data related to the agency.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="salesPeriodDetails" minOccurs="0" type="StructuredPeriodInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Sales report period dates: From and To dates.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="agentDetails" minOccurs="0" type="UserIdentificationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the agent's sine or the user details.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="sectionGroup" maxOccurs="3">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys data organised by payment sections and sales/refund status. In the sales report are to be sent 3 sections: - sales amounts - refunds amount - balance amounts.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sectionType" type="CodedAttributeType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Conveys the identifier of the section.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="fopSectionGroup" maxOccurs="3">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Conveys various amounts by form of payment:  - CA =) cash - CC =) credit  When there is no FOP associated to the MON, it means that totals (CA + CC) are conveyed.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="monetaryAmount" type="MonetaryInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Conveys, by type of payment(cash, credit and total) the following various amounts:  - fare amount - taxes amount - fees amount - commission amount - total document amount - remittance amount.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="formOfPaymentDetails" minOccurs="0" type="FormOfPaymentTypeI_54063S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Conveys the form of payment that identifies the section.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dummy" type="DummySegmentTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Dummy segment used to identify the amounts sections by CA, CC and totals from the section "total amounts by fop".</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="formOfPaymentGroup" maxOccurs="99" type="FOPRepresentationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Conveys the total amounts by form of payment.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="volumeDetails" minOccurs="0" maxOccurs="19">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the quantity of:  - issued  - cancelled - sold documents by transaction code.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="transactionData" type="TransactionInformationForTicketingType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Transaction details:  - transaction code - transaction type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="quantity" minOccurs="0" maxOccurs="3" type="QuantityType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Conveys the numbers of documents issued by transaction code.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="monetaryAmount" type="MonetaryInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Conveys the document amount balance for the related transaction code.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdditionalBusinessSourceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional originator and source information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceType" type="SourceTypeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorDetails" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">details of the sales report originator.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the attribute Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides a description for the attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" maxOccurs="99" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides details for the Attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrenciesTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify currencies used in the transaction and relevant details for the rate of exchange.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyDetails" minOccurs="0" type="CurrencyDetailsTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">The usage to which a currency relates</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the type of currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currencyIsoCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ISO code of the currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DummySegmentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To serve the purpose of a mandatory segment at the beginning of a group and to avoid segment collision.</xs:documentation>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FOPRepresentationType">
    <xs:sequence>
      <xs:element name="fopDescription" type="FormOfPaymentTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fopOtherDetails" type="TicketingFormOfPaymentType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains details describing the form of payment and not found in the FOP segment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="monetaryInfo" type="MonetaryInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey monetary amounts, currency...</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the form of payment type, amounts, approval codes, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vendorCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Credit card company identification (VI, CA, AX...)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creditCardNumber" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Credit card number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fopFreeText" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentDetailsTypeI_87447C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the form of payment type, amounts, approval codes, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey informations related to the form of payment specific to reporting</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fopCode" minOccurs="0" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Fop Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fopFacSimileCode" minOccurs="0" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Fop Fac Simile Code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details describing the form of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="formOfPayment" type="FormOfPaymentDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentTypeI_54063S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details describing the form of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="formOfPayment" type="FormOfPaymentDetailsTypeI_87447C">
        <xs:annotation>
          <xs:documentation xml:lang="en">form of payment details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier of the subject</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationType" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Language</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Encoding type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Error free text details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys a number which can be: - the sales report number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" type="ItemNumberIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the sales report number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the total amount type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">currency</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="19" type="MonetaryInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other monetary details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" type="NumericInteger_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">IATA number of the agency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification1" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Office ID of the agency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI_85102C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Agent sine (Numeric Sine)+(Agent Initials)+(Duty Code) ex : 0001XVSU).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuantityDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Quantity information in a transaction, qualified when relevant.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">value of the quantity mesured.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuantityType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a pertinent quantity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantityDetails" maxOccurs="20" type="QuantityDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify an appropriate quantity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Dummy.NET" minOccurs="0" maxOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SourceTypeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of source.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceQualifier1" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source qualifier: reporting office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourceQualifier2" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates that data are associated to all agencies sharing the same IATA number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Current date - Requested specific date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" minOccurs="0" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" minOccurs="0" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" minOccurs="0" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredPeriodInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey period in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="beginDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the begin date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the end date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketingFormOfPaymentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details describing the form of payment and not found in the FOP segment</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fopDetails" minOccurs="0" type="FormOfPaymentInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionInformationForTicketingType">
    <xs:annotation>
      <xs:documentation xml:lang="en">to specify details relating to the transaction</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="transactionDetails" type="TransactionInformationsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reporting transaction details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionInformationsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details related to the transaction</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Transaction Code, coded : -TKTA -TKTB -TKTT -TKTM -MD50 -EM50 -VM50 -TASF -MCOM -....</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Transaction Type, coded :     SALE</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to identify a user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originIdentification" minOccurs="0" type="OriginatorIdentificationDetailsTypeI_85102C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Originator Identification Details: reporting office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originator" minOccurs="0" type="AlphaNumericString_Length1To30">
        <xs:annotation>
          <xs:documentation xml:lang="en">User Id of the requester</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To30">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..30</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BDEC30C4B133ACC302E8E0D669B761690B27C52E0102D56212A1B2E4897251AFE87F1F653B6B77DA7A11484AE2C77B8F978BAB4599AF17C5F6FA4ACCD26C36494F27D907FE03940554B2E35936FFF8793EFBC42F97EBF7693A4F53962FF3D0358017DA809535080A6CCF24EA6A1DC3C9232A762711AEE80E1B59813884D0CCA7D3C7DA24B2960A5A4C2A574FD95D6B9581427B31450841DB3D4E95AE905507A8EE5774D65204DF02AB9C027A82C23A1BBDBA064BDE785737D276B19CB0AD3114683AAFF787204EF2A11CBFF1AEF11A82F41D9756F17367775A510E2D0DFF6A77CED7326867E7BCB5B20D07E7F52F50BC45E89F2B8D9571D87AE018BCAE82E938FDB9D38A72249C904BF9841F8B6122138CBE31BC8C7D202FA97BFF002A39610A76B235E1D237112E2576D22030E5DA3B032BF8D982ADE04686EA30DE803DFB2F30C1BEBC798A043D6F9F1EC0234D4596070394862CB9A70ADD33DB117D656B08331799ECFD9ECEFE73B4FE91C0B84A9A1172E3F68A682CE69B2F8BBCD82C94DEC92AAC9D33B859ACB785C6206D3827A6883F626EB394FE1E22E3C31BECB9C6CD77B7A75C76DF37A2D5B5351DABC1EF6104A3B72F3418852BE7C31FF86870A4BE728C98FE1D2B88756D46E5D83741D4386DC31584818E5E6CDEB9F00AA1DE8F024ED830424414E32AA5D3341B6378E17C6E34E51E151BB5A02BC0829444B54994038A584B1F62DE5BAB2B1DBA7190E0A545D3EB93F01184354EC7CCEB7C397D5260348D214940CF09DDB2D89E7ABD3E2496F3E3CE0C3929D243D56FB2B6157B4413AEDBD0B4E1C219055EC4006393C97280F11D72FDB22793091B401259CE5ED517F94DBE5D912CB0848608C26D369B91B86BA9ADF896DF30788CE1ADC46DB1B814EBF27671E4894B0F529C9E1E7DB15E95ABB2640D2D86C603513D1030B02432B21E74A48ECC1E21D98329FEAA4EC26B8CEC0A524077ED576D4D08C7CD1EEED991C7B77CA2934439CA466419FB0D0298606445050000
-->

