KLS/SalesReports_DisplayCashReport_11_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TSRCRQ_11_1_1A" xmlns="http://xml.amadeus.com/TSRCRQ_11_1_1A" elementFormDefault="qualified">
  <xs:element name="SalesReports_DisplayCashReport">
    <xs:annotation>
      <xs:documentation xml:lang="en">To display the Cash sales report</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="actionDetails" minOccurs="0" type="ActionDetailsTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys details used for handling scrolling requests.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="salesReportIdentification" minOccurs="0" type="ItemNumberTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment conveys a specific sales report number or a number relative to a sales report number.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="securityOption" minOccurs="0" type="SelectionDetailsTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys a security option to request a sales report for all agents in the office.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="agencyDetails" minOccurs="0" type="AdditionalBusinessSourceInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys optional agency reference.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="agentOfficeDetails" minOccurs="0" type="UserIdentificationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys details related to an agent to target a specific sales report.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="currency" minOccurs="0" type="CurrenciesTypeU">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys details related to an optional currency.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="salesIndicator" minOccurs="0" type="StatusType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys optional sales indicator notion (INT for international or DOM for domestic) to perform the documents selection for the sales report.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ActionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the action that should be taken on a selected reference number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfItemsDetails" minOccurs="0" type="ProcessingInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the number of lines to retrieve.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastItemsDetails" minOccurs="0" type="ReferenceTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of the last element retrieved.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalBusinessSourceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional originator and source information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceType" type="SourceTypeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorDetails" minOccurs="0" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details (office/ID, IATA number) of the target office</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrenciesTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify currencies used in the transaction and relevant details for the rate of exchange.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyDetails" minOccurs="0" type="CurrencyDetailsTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">The usage to which a currency relates</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the type of currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currencyIsoCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ISO code of the currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys a number which can be: - a specific sales report number - a relative sales report number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the number.  In case the type is the original sales report number, there is no number associated.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" type="ItemNumberIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys numbers related to the sales report.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" minOccurs="0" type="NumericInteger_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">IATA number of the agency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification1" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Office ID of the agency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI_85102C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Agent sine (Numeric Sine)+(Agent Initials)+(Duty Code) ex : 0001XVSU).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcessingInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the action to be taken and the selection criteria.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfItems" minOccurs="0" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">- In a query: number of rows requested. - In a reply: 0 if no more remaining rows, else empty.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify which number in a sequence of references and/or the reference number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="lastItemIdentifier" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">- In a reply: conveys  the key on the last item sent in case there are more items.  - In a request: when it is not the first call, conveys the last ticket key received.  This key can be a ticket number or a sales report number, depending on the type of the report.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys an option related to the security of the request.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the selection.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SourceTypeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of source.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceQualifier1" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source qualifier: reporting office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourceQualifier2" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates that data are associated to all agencies sharing the same IATA number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To advise the requester system the status of the reply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusInformation" type="StatusDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to specify if the documents to be selected are International (INT) or Domestic (DOM)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to identify a user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originIdentification" minOccurs="0" type="OriginatorIdentificationDetailsTypeI_85102C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Originator Identification Details: reporting office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originator" minOccurs="0" type="AlphaNumericString_Length1To30">
        <xs:annotation>
          <xs:documentation xml:lang="en">User Id of the requester</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To30">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..30</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB4610BDEFAF58E4D243218A54510711B0074692DD0691ED4A327A11208CB9236991E52EB3B334CC18FEEF9D25A9C639A5BD1033B3C3F978EFCDCDEA76B52977ABE5E1EE56CDF26236C9AF26C56FF26FD40E4943278B62FEFB87F9ECBDBC59EF7ECDF3799E8B725DC6AE41BA36161DD4A83870F80864AA5D0A67CFA4C52310DEF21B3550A13AC7D8CCA7D3E7DA665083C696B2CAD753F1D83A6D7169829A12C668DC89A6DA5424AA33565FB6FCAD41C5D0A2A8BC464E21E5BC4B5E5DA3636F7CAB1B705D6AA75C6B2D079A2E98D339AA77E5D04EDE07DF0483114227C169B9F0EE6834D73060E59FEEE8430DD1783797AD83369E7D30DF50CB96B04FD7862AEBA90D2829065345DB49FEE7D168AE9149462E97137969461964947C6BE526CD4172C3D38727D4D93BA1F108AD8D37A149706975044B28B46F1F2D6EF16B8BAEC27B88D5797C41F7F13F8189EE7BCE4B22E8F5F0F28481782BB6025AE4326CC1893B74AFE2C8F46D5ACB98F9C464EFF774F63F27EB2705ACAFC08E905B7FD24CE372BEFF63552EF72B6D8E50C59DF796F6ABDD616928828B0B668AF963E6F66B085F30313EE450CF35ED3FFB13D772A77E10A3EF9CED448DE1842318BD7D6DD06ADAFA10FF858F17279EABA484E98FB125B36EECA81CF7BF206ABC71F116E340472FB6E07D7C8350EF270167625821214AE994F2695E8C31BAF6A1B4866B8F8A4D5A3015D29295C4BD5994038A544388A9EE83339589DDB8480CE0C8F6FA647C14634DD3B1F2AE5C4F5F345AC36B000BE835E35791C6D36FCF87C5B2B8DCCC5093233D54FD251B578967B2F1AE8D4D1BAFBDD518540A083199AC07187F2169BEDFC96422069054518A37FD55795F1EB62C0BDA60C304D1A198CD58DC3518A73E95F7029F53F8007458AE6ED46EF3B0BAF0242120A8ABAB8BAF76DBCD62F39768F8300C9D99EA8180812555B0F56412756CF608410FA6FAA13B0BAFB1D02D80CE43485CA8FB59DEA80B5514E21FBA68346526050000
-->

