KLS/SalesReports_DisplayQueryReportReply_10_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TSRQRR_10_1_1A" xmlns="http://xml.amadeus.com/TSRQRR_10_1_1A" elementFormDefault="qualified">
  <xs:element name="SalesReports_DisplayQueryReportReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Sends back all the data related to the sales report</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorGroup" minOccurs="0" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys a potential error and its associated Free flow text.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="queryReportDataDetails" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys all the details associated to the query report.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="currencyInfo" type="CurrenciesTypeU">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Currency</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dateDetails" maxOccurs="2" type="StructuredDateTimeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the system date and the specific requested date if present.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="queryReportDataOfficeGroup" maxOccurs="9">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys by office the documents net details.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="requestorAgencyDetails" type="AdditionalBusinessSourceInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Conveys the data related to the requestor's agency.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="documentData" maxOccurs="9999">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Conveys data related to a document.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="sequenceIdentification" type="ItemNumberTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">This conveys the sequence number of the document within the sales report.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="documentNumber" type="TicketNumberTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Logical document number with airline code and related details.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="monetaryInformation" type="MonetaryInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Various total amounts of the document.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="bookingAgent" type="UserIdentificationType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Booking agent sine</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="transactionDataDetails" type="TransactionInformationForTicketingType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Transaction details:  - transaction code - transaction type</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="fopDetails" type="GeneralFopRepresentationType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">This group conveys data related to the FOP.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="passengerName" minOccurs="0" type="TravellerInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Conveys the passenger name.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="reservationInformation" minOccurs="0" type="ReservationControlInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Reservation information: RLOC of the PNR.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="agentDetails" minOccurs="0" type="UserIdentificationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys details related to the agent or user associated to the requested document.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="actionDetails" minOccurs="0" type="ActionDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys details used for handling scrolling requests.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="salesPeriodDetails" minOccurs="0" type="StructuredPeriodInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Sales report period dates: From and To dates.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ActionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the action that should be taken on a selected reference number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfItemsDetails" minOccurs="0" type="ProcessingInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the number of lines to retrieve.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastItemsDetails" minOccurs="0" type="ReferenceTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of the last element retrieved.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalBusinessSourceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional originator and source information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceType" type="SourceTypeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorDetails" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">details of the sales report originator.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrenciesTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify currencies used in the transaction and relevant details for the rate of exchange.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyDetails" minOccurs="0" type="CurrencyDetailsTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">The usage to which a currency relates</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the type of currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currencyIsoCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ISO code of the currency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the form of payment type, amounts, approval codes, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To18">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount paid by the form of payment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vendorCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Credit card company identification (VI, CA, AX...)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creditCardNumber" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Credit card number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expiryDate" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Expiry date of the credit card.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="approvalCode" minOccurs="0" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Approval code of the credit card.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourceOfApproval" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source of the approval code: manual or automatic.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details describing the form of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="formOfPayment" type="FormOfPaymentDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier of the subject</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationType" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Language</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Encoding type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Error free text details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeneralFopRepresentationType">
    <xs:sequence>
      <xs:element name="fopDescription" type="FormOfPaymentTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Form of payment details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="monetaryInfo" type="MonetaryInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey monetary amounts, currency...</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys a document sequence number within the sales report.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" type="ItemNumberIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the sequence number of a transaction within a sales report display.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency of the amount.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the amounts</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="19" type="MonetaryInformationDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" type="NumericInteger_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">IATA number of the agency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification1" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Office ID of the agency.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI_85102C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Agent sine (Numeric Sine)+(Agent Initials)+(Duty Code) ex : 0001XVSU).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcessingInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the action to be taken and the selection criteria.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfItems" minOccurs="0" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">- In a query: number of rows requested. - In a reply: 0 if no more remaining rows, else empty.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify which number in a sequence of references and/or the reference number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="lastItemIdentifier" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">- In a reply: conveys  the key on the last item sent in case there are more items.  - In a request: when it is not the first call, conveys the last ticket key received.  This key can be a ticket number or a sales report number, depending on the type of the report.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" minOccurs="0" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control number : RLoc of the PNR.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" minOccurs="0" maxOccurs="9" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SourceTypeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of source.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceQualifier1" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source qualifier: reporting office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourceQualifier2" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates that data are associated to all agencies sharing the same IATA number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Current date - Requested specific date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" minOccurs="0" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" minOccurs="0" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" minOccurs="0" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredPeriodInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey period in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="beginDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the begin date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the end date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Document number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfBooklets" minOccurs="0" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">In case of conjunctiv, indicates the total number of tickets.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the document transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Provide status on the document in the sales report: it can be confirmed or not.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionInformationForTicketingType">
    <xs:annotation>
      <xs:documentation xml:lang="en">to specify details relating to the transaction</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="transactionDetails" type="TransactionInformationsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reporting transaction details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionInformationsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details related to the transaction</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Transaction Code, coded : CANR  MCOA  MCOM  MDnn MPnn PTAM TKTA  TKTB  TKTM  TKTT  TORM  XSBA  XSBM  ACMR   RENM  RFND  ACMA  SSAC  TAAD  ADMA  RCSM  SSAD  BPAS  CANX CANN  PSCN  VSCN  RSCN RENA TASF</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Transaction Type, coded :     SALE     INVT     REFD      ADJA     ADJP     AUTS     CCAS     CCCS     MANS     VOID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issueIndicator" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">'O' --) Original transaction code 'C' --) Current transaction code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a traveler(s) and personal details relating to the traveler(s).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paxDetails" type="TravellerSurnameInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys details on the passenger.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of the surname of a traveller, the type of traveller, number of travellers per surname and the action to be taken.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger surname followed by the name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to identify a user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originIdentification" minOccurs="0" type="OriginatorIdentificationDetailsTypeI_85102C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Originator Identification Details: reporting office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originator" minOccurs="0" type="AlphaNumericString_Length1To30">
        <xs:annotation>
          <xs:documentation xml:lang="en">User Id of the requester</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To30">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..30</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 4.2 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009553C16EDB300CBDEB2B845E7618E2D8C5560C0174709BA4D8B0A4AD93619700816A31895059F244B9A857F4DF47D9CE9A9EBA01864152D213F5DEE3F56C392BF2F56CBABD598AF334CB46E9397DFC27280BA864CBB34F93EC62927DE1D78BF5C7349DA429CB1779686BC0B936606505820ADB4B89BA5CC772F2848ADD4B8425AD612D4B108710EAC978FC5499445652418349E9AA312B0F503EACE85F49117C03AC740A10020AEB6CCCAA0A2C65C35A554BDB4654611B63A850B75EEF0F419CE53D2ABFF5AEF61A82F42D9756F12B67775A118696867FB53BE72B19B4B313DE58D98483F3FA3728DE2074DB95C6D2386C3C700C5E97C1B49CCEDC6B4518092782523EE2C7CB309109C6DC185EC43E9017D4BD7F04959C31053BD99870EDEBC88A123B69109872CDBD8115FC6AC096702B4379E85F07F6F29F2803FBBAE739CAF0B27D7E048FF4288A3C1820188AE49E2E685FD88E442A1A4394B9A8579777A2758763F40E8071A53403E3C6ED95F6623AD9CC94DEC932AC9D33B899ADB7538D41DA70451A9172A4D96621FD03046DF7FD1EEC54C6CD77B72718BBEF7AD0EAC69A9655E0F73010D4C5730D46E1CAF9F097387A33524B394636DFD6A6A4B7368367EC7FB1533B6DC312C28910DEB970420EEB1B8F14629C90749C66430DE7CEE74613E2E0D0A8BD2E01A7E41CBA914CD8D38695F421A2FDB0BAD4A11DDA0F5E5A349D1F891541E4E278405EE78BF1B302A3A979498679496895C5A6D4E9B8903BAE8E33D26352A523A81B506D4BF68426DC34A16EC2DC19055EC40263A3D1A227EF0372FD3A17A311EBA91159CE4EEE17F96DBE5D910FB0809A64C16D967E263357525BF12DBF3D4AC1A507292E2E8EB958AF8ABBA26035B95EE381D4EC39EE851019458F3AAA43614787EC98136FAE226FD546B6770DF8B6AFB1A33CEF6DA43FF96B7080C852F607A58C53F2F1040000
-->

