KLS/Security_OpenTrustedSession_12_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/VTRSAQ_12_1_1A" xmlns="http://xml.amadeus.com/VTRSAQ_12_1_1A" elementFormDefault="qualified">
  <xs:element name="Security_OpenTrustedSession">
    <xs:annotation>
      <xs:documentation xml:lang="en">Delegate authentication for hybrid user</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userIdentifier" maxOccurs="2" type="UserIdentificationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment is dedicated to specify a user identifier. The first one  for the Login and the second for the UID or the sign if needed.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="dutyCode" minOccurs="0" type="ReferenceInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Contain the duty code of the user.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="systemDetails" type="SystemDetailsInfoType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment is used to specify the organization of the user.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="fullLocationInfo" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Full location information.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="workstationPos" type="PlaceLocationIdentificationTypeU">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Stores the location of the workstation.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="locationInfo" minOccurs="0" type="TerminalLocationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Contains terminal and facility or worstation id.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="applicationId" minOccurs="0" type="ApplicationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Contains label and version of application.  Example: JFE-CM V34.6.8</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to specify application details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="versionNumber" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Item Version Number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="label" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">valid Application name  otherwise CM#6173 INVALID APPLICATION ID is returned.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to specify details on an application</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="applicationDetails" minOccurs="0" type="ApplicationIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application source of the authentication message.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FacilityInformationType">
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Terminal/Building discriminator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" minOccurs="0" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location terminal.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationIdentificationBatchTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of a location by code or name</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airport or city code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inHouseIdentification1" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amadeus Office Id (Example: NCE6X0980).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceLocationIdentificationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a place or a location and/or related locations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location type. Airport/City Discriminator A for Airport C for City</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationDescription" type="LocationIdentificationBatchTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location port.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="firstLocationDetails" minOccurs="0" type="RelatedLocationOneIdentificationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location category.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="secondLocationDetails" minOccurs="0" type="RelatedLocationTwoIdentificationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location index.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification for a traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" type="ReferencingDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to specify the duty code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Duty Code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationOneIdentificationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification the first related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location category.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationTwoIdentificationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of second related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location index.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemDetailsInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to specify a system</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="workstationId" minOccurs="0" type="AlphaNumericString_Length1To50">
        <xs:annotation>
          <xs:documentation xml:lang="en">Workstation Id.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deliveringSystem" type="SystemDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to specify the company the user belongs to.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="idQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code specifying the type/source of the product identification number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify by code or name and location the system that originates or delivers the message for a third party.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyId" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to specify the company the user belongs to.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminalLocationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey informations about functional and physical locations in a terminal</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="facilityDetails" type="FacilityInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Terminal/Building iformation.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to identify a user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originIdentification" minOccurs="0" type="OriginatorIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Originator Identification Details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorTypeCode" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to specify which kind of info is given: L for Long UID (Alias) U for User ID Z for Sign</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originator" type="AlphaNumericString_Length1To99">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to transport the user information (Login/UID/Sign)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To99">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..99</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="99" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To50">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..50</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534B8FD33010BEFB57585C38A0A6490F202AF910B6DD0589EE2E6D162E952AD79EB6168E1D3CCE6AC36AFF3BE32485E5C2E312CDC399C7F77D73B5BC5EAECB6AB9D8DD5C8B595ECC2645319915FC0B6807A865C7F3B7F3D99BF9EC35BF5A55AFF27C9EE7AC5C95B16B002F8D05276B1014D8BD93685495C2D9036AB69708D794C3462A10A7189BF974FA50DB4CD652438B99F2F594ED5BA72D2C4C105384188D3BE2541B854C9D407DDDD0B79622861698F21AE8090AE75DF2EA1A1C7963AE6EA4EB523BE15A6B29D074C11C4F51BC288776FC36F826188832745C3ACD2FBC3B184D358CB4FC833BF850CB68BC9BF3D6C9369E7C30DF41F316A17FAE0D2AEBB10DC03106A3A2ED38FDB3379A6A649C90CBF9849F9B6126334CBEB57C9DE640BEA6E9C33DE8EC05D37090AD8D57A14970697190168169DFEE2D6CE05B0B4EC1AD8CEA3466C0BDFB2730C1FD7AF398087ADA3DDE4340DA8AAC0016A80C59F2481DBA277620FAD6AD25CC7C62B2F77B3AFB9F93F59702D62B6947C8AD3F6AA27131DFBE5F968BED529B8354B1F2DEE27659ED1606A374F1829822FE88B9ED4A86AF90181FDE60CF356E3FFA23D572C77E10A36F9CED580DE1082318BD7D69C06ADCF8107FC2478B23CD5562C2F4F7D882583776548EFB2F881A6F5CBC8638D0D18B2D781F9F21D4FB49C0191B564888623AA57C9A17630C2F7D28ADA1DAA36293168C025C9092A837897240116B1962AA7BE78C32B11B1789413AB4BD3E091F4158E374AC5C95ABE9A3066B680D49027ACA28CBD278FAF9F990582ECE3733D4A4480F557FC9C629F68036DEB4B169E3A5B71A824801C62693D500E34BE4E6D79D4C266C004914257BD65F94B7E56E03AA0D34FEAE98BD2661D7D238F171B379DFED83D10C1E1A626E2771B7585E896A7DB73C33C5650029DEE6675F7CAED69BF2136BE8340C9E88EC818281275190756F127964F618C91E4EF1B3FF0DB154851649271B2A49397666EE8F8F464D8862C67E003AD39DB622050000
-->

