KLS/Session-1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="http://PIP_Service_Library/PIP_Session" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://PIP_Service_Library/PIP_Session" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Session">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionType" type="xs:string" />
        <xs:element minOccurs="0" name="sessionId" type="xs:string" />
        <xs:element minOccurs="0" name="sequenceNumber" type="xs:string" />
        <xs:element minOccurs="0" name="securityToken" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>