KLS/Ticket_AlterTSTSegmentAssociation_13_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TASAUQ_13_2_1A" xmlns="http://xml.amadeus.com/TASAUQ_13_2_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_AlterTSTSegmentAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="genericQuotation" minOccurs="0" maxOccurs="9">
          <xs:annotation>
            <xs:documentation xml:lang="en">Itinerary/OC FEE/OB FEE level</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tstType" type="CodedAttributeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Choose the tree part to build. If TST is COM type one, should be set to OC</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="referenceNumber" minOccurs="0" type="ReferenceInfoType_155173S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">PAX or SEG or TST reference number</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="tstTatoo" type="ItemReferencesAndVersionsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Contains the tatoo of the TST whose links are to be updated.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="fareComponentDetailsGroup" minOccurs="0" maxOccurs="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">fare Component Details Group</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fareComponentID" type="ItemNumberType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">fare Component identification</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="couponDetailsGroup" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation xml:lang="en">coupon Details Group</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="productId" type="ReferenceInfoType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Tattoo + type of the product identifying the coupon.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeFunction" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="attributeDetails" maxOccurs="99" type="CodedAttributeInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" maxOccurs="99" type="ItemNumberIdentificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">qualifies the type of the reference used. Code set to define</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uniqueReference" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">TST tatoo.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific Hotel reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" type="ReferencingDetailsType_216722C" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType_155173S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific Hotel reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType_216722C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FD43010BDFB57585C38A04DB25B1062251F42775B21B16DD94DC5052972EDD95D0BC70E1EA73454FDEF8C932C9413708966C693F978EFCDE5FA6ABD2DABF5AABEBE128B627E362BDECC16EFF867D00E50CB9E176F97AFDF2E2974B9A95E15C5B22858B92963DF025E180B4E36202850BF97685495C2D9036A762711AEE80D5BA9401C636C9779FED0D84C3652438799F24DCEEE3AA72DAC4C1039428CC61D30D746215347505F77F46DA488A103A6BC064A41E1BC4B5ED380236F7A6B5AE9FAD44EB8CE5A0AB47D308763142FCAB11DBF09BE0D06A20C3D974EF373EFF646530D232DFFE0F63E34321AEF96BC73B28B471FCC0FD0BC4318D2B541653D760138C66054B43DA77FEE8CA61A1927E40A3EE3A76698C90C936F2DDFA639906F69FA700F3A7BC134EC6567E36568135C5AECA54560DA77771676F0AD03A7E04646759C5EC0BDFF2730C1FDCE794C043DD58FF71090B6222B80052A43963C5087FE89ED89BE6D6709339F981CFC81CEE1E764FDA580F54ADA0972EB0F3AD118A0F111F2E67B4ECB9ABD54B1D6709FAF47BBF2DE62BEAEEA95C1285D3C27E6884F6232DFC8F0159202C61C1CB8C72F1FFD816ABBC33098D1D7CEF6AC817080099CC1BE306035EE7C88BFE0242090E62C3161FC676C452A30765292FB2FC85A6F5CBC8238D233882F781F9F2136F849D0191B574808633AAD222FE6530C2F7C28ADA1DA938293368C025C91B2A837897444151B1962AA7BEB8C32B19F1689413AB4835E091F41D8FF02AC2A37F9A3066B680D49827ACAE895A5F1F4F37322F19C9F6E68AC499101AAE1B28D53EC016DBCEE62DBC50B6F350491028CCD669B11C697C8CDEFBB99CDD808929897EC597F51DE94756514715BCFCFCE48E68D344EDC7CDA32786889B15A62BD5A5F8A6A7BBB3E31C4650029168BF92920AA7257DE7E622DDD88C123B13C623F12241664DD9BC49A988FE0C8014731352E6D8450EDAA1D1CD2CA25A25766189B9D88FB87D44918627EC67E02FCCB33C337050000
-->

