KLS/Ticket_AutomaticUpdateReply_12_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TARUPR_12_1_1A" xmlns="http://xml.amadeus.com/TARUPR_12_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_AutomaticUpdateReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">automatic involuntary repricing of e-tickets from PNR reply
automatic involuntary repricing of e-tickets or EMDs from PNR reply
</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorGroup" minOccurs="0" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This group possibly conveys information on an error that has occured during the process or a warning raised by the system.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="exchangeInformationGroup" minOccurs="0" maxOccurs="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">This group contains all the information related to the original documents that have been exchanged, the created pricing record and the new flights or services that are included in it.  One group corresponds to one output pricing record.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="transactionIdentifier" type="ItemNumberType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This segment conveys the identifier of the transaction.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="documentInfoGroup" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This group conveys the information related to one document that has been exchanged and the reference to its exchanged coupons.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="documentInfo" type="TicketNumberType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This segment conveys the details on the exchanged document: number and document type.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="couponInfo" minOccurs="0" maxOccurs="16" type="CouponInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This segment conveys a coupon number or a range of coupon numbers that have been exchanged.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="passengerSegmentSelection" type="ReferenceInfoType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This segment conveys the tattoo numbers of the selected passenger and of the PNR segments corresponding to the flights or services that are included in the new pricing record.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="pricingRecordReference" type="ItemReferencesAndVersionsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This segment conveys the tattoo number of the created pricing record (TST or TSM).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="reissueAttributes" minOccurs="0" type="CodedAttributeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This segment conveys specific reissue attributes or flags.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Attribute type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">Attribute value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" maxOccurs="99" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Override details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the coupon number, status, value, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpnNumber" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify data specific to a value (flight) coupon.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="couponDetails" type="CouponInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the selected coupon or the first coupon of the selected range of coupons</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherCouponDetails" minOccurs="0" type="CouponInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the last coupon of the selected range of coupons</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The description of the warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Text subject qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Encoding</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on the type of free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text error or warning message</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of the transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" maxOccurs="99" type="ItemNumberIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identifier of the transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of Pricing Record</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uniqueReference" minOccurs="0" type="NumericInteger_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Pricing record display number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="idSection" minOccurs="0" maxOccurs="9" type="UniqueIdDescriptionType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Pricing Record ID number information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="999" type="ReferencingDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of selected segment or passenger</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier of the reference: passenger or PNR segment (service or flight)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To60">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoo number of passenger or PNR segment</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="NumericInteger_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Document number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Document type (ticket, EMD-A, EMD-S)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Document details: number and type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UniqueIdDescriptionType">
    <xs:sequence>
      <xs:element name="versionNumber" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Pricing record ID number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,35}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095544D6FDB3810BDF35710BDEC61615972767B30C0831AC969B0EB387014F462C060C8B14D9422B51C2A8837C87FEF5092DBF4D4DD8B301FE4CCF0BD37BAA9EFEA6DD9D4D57E732716797135CB17B3E28A7F01ED00B53CF3E28FE59F1F97F982DFAC9BDFF37C99E7AC5C97F1DC01AE8C05275B1014D87F92685493C2D90B6AF62411EE28879D54204E3176CBF9FCA5B5996CA5861E33E5DB397BEA9DB6509920E608311A77C4B9360A993A81FAFA40DF568A187A60CA6BA023289C77C96B5B70E44DB9B693EE9CDA09D75B4B81EE1CCCF114C587726CC7EF83EF828128C3994BA7F9B57707A3A9869196DFBA830FAD8CC6BB25EF9DECE3C907F32F68DE230CC7B541653DF60138C66054B4674E779E8CA61A1927E4723EE3976698C90C936F2DDFA639906F69FAF00C3AFBC0341C646FE34DE8125C5A1CA44560DAF74F161EE09F1E9C827B19D569CA80FBF49FC004F7E3CC6B22E86DFFFA0C01E9556405B04065C89247EA707E6307A26FDB5BC2CC2726077FA073B89CAC5F14B05E493B416EFD51138DD572F7B92EAB5DADCD41AAD8786F715737FBCA60942E5E1353C41F31B75BCBF01512E3E3191CB8C6DDDFFE48B5DC7118C4E88DB367D64238C204C660AF0C588D0F3EC4EFF0D1C391E62A3161FA73AC22D68D9D94E3FE17449D372EDE411CE918C416BC8FEF101AFC24E08C8D4F4888625AA57C9E17530C573E94D650ED49B1490B460156A424EA4DA21C51C4568698EA3E3AA34C3C4F0F89413AB4833E091F4158E37CAADC94EBF9AB066BE8199204F4965196A5F1F4FBF521B15C5F7666AC499101AA61938D53EC056DDCF4B1EBE3CA5B0D41A40063B3D97A84F137E4E6C79ECC666C044914257BD75F94F7E5BE318AB8DD175705C9BA95C689E6AF9AC14B478CED25EEABFA4634DBC7FAC2109701A4587CBCF8A2A9AE6F1FB7ACA3953078229247E8477E4441D6B349A489AB111B39C028A6BE651F7D9A523D765A466017B2C4F7C4AD7BF6B677E96FB005FA2F28D2E1E6508FF77113EA56E32AF8F6DE05CA930427918862C1BE018ECBB63B33050000
-->

