KLS/Ticket_CreateTSMFromPricingReply_09_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TAUSCR_09_1_1A" xmlns="http://xml.amadeus.com/TAUSCR_09_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_CreateTSMFromPricingReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">TSM creation acknowledgment (Avg size : 100 bytes, Max size : 200 bytes)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="applicationError" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Application error information</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="applicationErrorInfo" type="ApplicationErrorInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">General error information returned by ticketing application</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="errorText" minOccurs="0" type="InteractiveFreeTextTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Description in free flow text of the error returned by ticketing application</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pnrLocatorData" minOccurs="0" type="ReservationControlInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">PNR record locator information for this transaction. This PNR record locator is used for tracing purpose.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="tstList" minOccurs="0" maxOccurs="1980">
          <xs:annotation>
            <xs:documentation xml:lang="en">List of TST tattoos created. As we can have 10 TST per Pax, 99 passenger per PNR, and a TST split with the Infant , the max number of TST is 1980.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tsmReference" type="ItemReferencesAndVersionsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">TSM tattoo number created by the transaction.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="paxInformation" minOccurs="0" type="ReferenceInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Reference information on passengers.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="applicationErrorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="codeListQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="codeListResponsibleAgency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="applicationErrorDetail" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide error free text information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorFreeText" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free flow text describing the error</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">qualifies the type of the reference used. Code set to define</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uniqueReference" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoo number (It is in fact the Tsm Display Number)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="iDDescription" minOccurs="0" type="UniqueIdDescriptionType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Gives the TSM ID number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="refDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger/segment/TSM reference details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="refQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifyer of the reference (Pax/Seg/Tst)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="refNumber" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger/segment/TSM reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">Record locator.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservationInformation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UniqueIdDescriptionType">
    <xs:sequence>
      <xs:element name="iDSequenceNumber" type="NumericInteger_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">The TSM Id Number : The Id number allows to determine a TSM in the single manner.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To11">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..11</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,11}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 4.2 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BDEC30C471D2F5D0003AB8F9C280A50D12F71620502D26112A4B9E2817F18AFEF751B6B376977D5C0C8A941FA9F71E97F3FBF926CBE7B3FDC3BD18A7A3D120BD1E8CC73CAF01956CF8E866727333195DF3E52AFF9CA6933465D92A0B4D05B8D006AC2C4150627F275117794C276754EC4922DC530D2B59803885504D86C3736912594A053526852B87AC3841F1BCA56F2945F035B0C229400828ACB3F1549660E9D4D7CA4ADA26A20A5B1B4389AAF1FA780AE22AEB50F9DABBCA6B08D2375C5AC5A7CE1EB4220C2D0DFF6A0FCE9732686727BCB6B20E27E7F50F50BC4668AF2B8D8571587BE018BC2E826938FDF3A41561249CE849F9805F9A6122138C6763F826CE817C43D3FB1750C915537090B5094B5F455694384883C094AB9F0C6CE17B0DB680B50CC5A9AF80BDFB27CEC0BEDF798D3ABCED5F5FC023BD8A220F0608862279A40ECD1B3B904A9BDA10672E0AD69E5BD5DA9F63F41700E30A697ACA8D3B2AEDC56CB29B2B7D9045C89D33B89BE7FB99C6206D989248241D89B65B49FF0C41DB6377075B9971F7CD1D09C61EDB19B47AB0A66125F823F43CB4F1428351B8753EFC628EDE8C34528691CEDF7333125C9BDE34F6BFD8A99CB6E11E42A744EB33EF5CF8400EEB068F14625C9074988EFA1C2E9CCF8C26C4DEA2517C5D00CEC83AD4915CD8D186A5F421A23D5A5DE8D0F4E3072F2D9AD690C48A207271D823E7D96AF8AAC0681A5E9263DE12AAB23894FAB82FE48EE965493A4CCAB404B51BAA6DC1CE68C2431DAA3A2C9C51E0454C303618AC3AF23E21D7EF8B3118B08E1A31CAD887FE225B67FB5C17A4E8FEF6CB997C5C4A6DC57A336770AE48A7BDC4FD6CBE14F9E6717ED1854B0F528CC7E92521F2EC713BDDB08A9640E389B4ED18EF6411238A5E74D48AC2961CD9F228FAC653820B906F570BEFCA35ED27998B5D84FAD3A50D54E4B2DE0722BD653F01D8E974B6F6040000
-->

