KLS/Ticket_AutomaticUpdate_12_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TARUPQ_12_1_1A" xmlns="http://xml.amadeus.com/TARUPQ_12_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_AutomaticUpdate">
    <xs:annotation>
      <xs:documentation xml:lang="en">automatic involuntary repricing of e-tickets from PNR query
automatic involuntary repricing of e-tickets from PNR query
TARUPQ is the query to perform an automatic involuntary repricing of e-tickets. Output pricing records are TST.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="exchangeInformationGroup" maxOccurs="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">This group contains all the information related to the original documents requested to be exchanged and the new flights or services that should be included in the new pricing record.  One group corresponds to one output pricing record.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="transactionIdentifier" type="ItemNumberType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This segment conveys the identifier of the transaction.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="documentInfoGroup" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This group conveys the information related to one document requested to be exchanged, with a possible coupon selection.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="documentInfo" type="TicketNumberType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This segment conveys the details on the exchanged document: number and document type.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="couponInfo" minOccurs="0" maxOccurs="16" type="CouponInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This segment conveys a coupon number or a range of coupon numbers to be exchanged.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="passengerSegmentSelection" minOccurs="0" type="ReferenceInfoType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This segment conveys the tattoo numbers of the selected passenger and of the PNR segments corresponding to the new flights or services that should be included in the new pricing record.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="reissueOptions" minOccurs="0" type="StatusType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment is used to convey options.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="overrideOptions" minOccurs="0" type="CodedAttributeType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment is used to convey override options (needing an attribute).</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Attribute type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">Attribute value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" maxOccurs="99" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Override details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the coupon number, status, value, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpnNumber" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify data specific to a value (flight) coupon.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="couponDetails" type="CouponInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the selected coupon or the first coupon of the selected range of coupons</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherCouponDetails" minOccurs="0" type="CouponInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the last coupon of the selected range of coupons</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of the transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" maxOccurs="99" type="ItemNumberIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identifier of the transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="999" type="ReferencingDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of selected segment or passenger</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier of the reference: passenger or PNR segment (service or flight)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To60">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoo number of passenger or PNR segment</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Option code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To advise the requester system the status of the reply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusInformation" maxOccurs="99" type="StatusDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Option details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="NumericInteger_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Document number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Document type (ticket, EMD-A, EMD-S)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Document details: number and type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,35}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095544D6FE33610BDF357107BE9A1B02C3BED1E0CF0A08DE434681D671D05BD183018726C134B912A870AA20DF2DF3B94E4DDF4B4DB8B303324E7E3BD37BAA9EEAA5D5157E5617B2796F9E26A962F678B2BFE376807A865CF17BFAD7EFFB8CA97FC6653FF9AE7AB3C67C5A6887D0BB836169C6C4050E0F049A251750A672FA8D99344B8A3336CA502718EB15DCDE72F8DCD642335749829DFCCD953E7B485D204314788D1B813CEB551C8D419D49707FA3652C4D001535E035D41E1BC4B5ED380236F3A6B5AE9FA544EB8CE5A0AB47D30A773141F8AB11CBF0FBE0D06A20C3D974EF36BEF8E46530E232DBF75471F1A198D772BDE39D9C5B30FE62B68DE210CD7B541653D760138C66054B43DA7374F46538E8C1372399FF14B31CC6486C9B796EF521FC877D47D78069D7D601A8EB2B3F126B4092E2D8ED22230EDBB270B0FF04F074EC1BD8CEA3C9D80FBF4536082FB7EE73511F476787D8680341559012C501AB2E4892AF46FEC48F4ED3A4B98F9C4E4E00F740E8F93F58304D62B6927C8AD3F69A2B15CEDFFA88A725F6973942AD6DE5BDC57F5A13418A58BD7C414F147CCED37327C81C4F8780707AE71FF973F512E771A1A317AEB6CCF1A082798C018ECB501ABF1C187F80D3E1A1CA9AF0213A6FF8D95C4BAB19372DCFF82A8F5C6C53B88231D83D882F7F11D42839F049CB171848428A655CAE7F9628AE1DA87C21ACA3D293669C128C0929444B54994238AD8C81053DE47679489FD34480CD2A11DF449F808C21AE753E6BAD8CC5F355843634812D05B46A72CB5A7DFAF0F89E5FAB233634E8A0C500D9B6C9C622F68E3B68B6D17D7DE6A082205189BCD36238CBF2037DFF764366323486251B077F545715F1C6AA388DBC3E26A41B26EA471A2FEB362F0D21263078987B2BA11F5EEB1BA30C4650029961F2FBEA8CBEBDBC7CFACA5953078269247E8477EC482AC67934813CB111B39C028A6BA45177DEA523DB65A466017B2C4B7835BF7EC6DE7D2DF6007F45F50A4C3EDB11ADFE336548DC675F0CDBD0B9F3B083D9B4422164BF62FAD6EF96633050000
-->

